/*
 * theme-wide comment styles
 */
#comments {
	background: #fff;
	padding: 50px;
	margin-top: 40px;
}

#comments h3 {
	margin: 0 0 20px 0;
	padding: 0;
}

.comment-list,
.comment-list li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.comment-list li {
	float: left;
	width: 100%;
	padding: 0 0 20px 0;
	margin: 0 0 25px 0;
	border-bottom: 1px solid #eee;
	position: relative;
}

.comment-list li:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}

.vcard {
	display: inline-block;
	margin-right: 10px;
	height: 48px;
	line-height: 48px;
	float: left;
	margin-bottom: 20px;
}

.vcard img {
	border-radius: 50%;
	border: 3px solid #fff;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
	float: left;
	margin-right: 10px;
}

.vcard cite {
	display: inline-block;
	font-style: normal;
	font-size: 17px;
}

.vcard .says { display: none; }

.comment-meta {
	display: inline-block;
	font-size: 12px;
	line-height: 21px;
	margin-top: 16px;
	float: left;
}

.comment-meta:after {
	content: "";
	display: block;
	clear: both;
	visibility: hidden;
	font-size: 0;
	height: 0;
}

.comment-body p {
	clear: both;
	font-size: 16px;
	overflow: hidden;
}

.comment-list li ul.children {
	margin-top: 20px;
}

.comment-list .children li {
	padding-left: 15px;
	border-left: 1px solid #eee;
}

.comment-list .children li:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}

#respond {
	background: #f9f9f9;
	padding: 50px;
	margin-top: 30px;
}

#respond h3 {
	margin: 0 0 10px 0;
	padding: 0;
}

#commentform input[type="text"],
#commentform textarea {
	padding: 10px;
	width: 60%;
	background: #fff;
	border-radius: 3px;
	outline: none;
	border: 1px solid #fff;
	-webkit-transition: all .18s ease-in-out;
	-moz-transition: all .18s ease-in-out;
	-o-transition: all .18s ease-in-out;
	-ms-transition: all .18s ease-in-out;
	transition: all .18s ease-in-out;
}

#commentform textarea {
	width: 100%;
}

#commentform input[type="text"]:focus,
#commentform textarea:focus {
	border: 1px solid #ccc;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}