/*
 * theme footer styles
 */


/* ----------------------------- *
 * Footer Newsletter
 * ----------------------------- */
#footer-newsletter {

	& .newsletter-content {
		text-align: center;
		max-width: 750px;
		margin: 0 auto;

		& .footer-subscriber-count {
			color: #fff;
			font-size: 120%;
		}

		& form {
			max-width: 450px;
			margin: 0 auto;

			& .nl-name {
				margin-bottom: 8px;

				& [type="text"].nl-last-name {
					padding: 14px 12px;
					border: 1px solid @eddgrayhover;
					border-width: 0 0 0 1px;
					border-radius: 0 4px 4px 0;
				}
			}

			& .nl-email {
				margin-bottom: 6px;

				& .newsletter-email {
					background: #ffffff url('images/sprite.png') no-repeat 14px -82px;
					border-radius: 4px 0 0 4px;
					width: 70%;
				}
			}

			& input {
				float: left;
				width: 50%;

				&[type="text"],
				&[type="email"] {
					padding: 14px 12px 14px 40px;
					border: none;
					margin: 0;
					outline: none;
				}

				&[type="text"].nl-first-name {
					background: #ffffff url('images/sprite.png') no-repeat 14px -34px;
					border-radius: 4px 0 0 4px;
				}

				&[type="submit"] {
					background: @eddblue;
					color: #fff;
					padding: 14px 12px;
					border: none;
					border-radius: 0 4px 4px 0;
					-webkit-transition: all 0.2s ease-in-out;
					-moz-transition: all 0.2s ease-in-out;
					transition: all 0.2s ease-in-out;
					width: 30%;

					&:hover {
						background: @eddbluehover;
					}
				}
			}
		}
	}
}


/* ----------------------------- *
 * Full Footer
 * ----------------------------- */
.footer-area {
	color: @darkblue_text;
	font-size: 14px;
	font-size: 1.4rem;

	& h4 {
		font-size: 17px;
		font-size: 1.7rem;
		line-height: 1.6;
		margin-bottom: 20px;
	}

	& .site-footer {
		position: relative;

		& a {
			color: @darkblue_link;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}

		& .sitting-edd {
			position: absolute;
			top: -111px;
			right: 0;
			z-index: 10;
		}

		& .footer-columns {
			padding: 40px 0;
			border-top: 2px solid #2a3238;
			border-bottom: 2px solid #2a3238;

			& .footer-latest-posts ul {
				list-style: none;
				padding: 0;
				margin: 0;
			}
		}

		& .footer-site-details {
			padding-top: 20px;

			& .site-info {

				& #footer-menu #menu-footer-menu {
					padding-left: 0;
					margin-left: 0;
				}

				& li {
					display: inline-block;
					list-style: none;
					padding: 0 10px 0 0;
				}
			}

			& .copyright {

				& .social-icon {
					display: inline;

					font-size: 17px;
					font-size: 1.7rem;
					text-decoration: none;
					-webkit-transition: all .2s ease-in-out;
					-moz-transition: all .2s ease-in-out;
					-o-transition: all .2s ease-in-out;
					-ms-transition: all .2s ease-in-out;
					transition: all .2s ease-in-out;

					&:hover {
						color: @darkblue_text;
						text-decoration: none;
					}

					&:not(:first-of-type) {
						margin-left: 2px;
					}
				}

				& .godaddy-partner img {
					border-radius: 4px;
				}
			}
		}
	}
}

.edd-checkout .footer-area .inner {
	padding: 0 30px;
}