/*
 * main site homepage styles
 */


/* ----------------------------- *
 * Hero
 * ----------------------------- */
#front-page-hero {
	text-align: left;

	& .inner {
		padding-bottom: 0;
	}

	& .hero-info {
		float: left;
		width: 40%;

		& .front-page-section-title {
			line-height: 1.4;
			margin: 0;
		}

		& .site-headline {
			margin-bottom: 30px;

			& .hero-title {
				line-height: 1.4;
				max-width: 450px;
				font-weight: 500;
				font-size: 36px;
			}

			& .hero-subtitle {
				display: inline-block;
				color: @lightblue;
				font-size: 20px;
				margin-bottom: 10px;
			}
		}

		& .hero-cta {
			margin-bottom: 0;

			& a {
				display: inline-block;
				border-radius: 4px;
				-webkit-transition: all .2s;
				-moz-transition: all .2s;
				transition: all .2s;
			}

			& a .fa {
				margin-right: 15px;
			}

			& .hero-primary-cta-button {
				background: @edddarkblue;
				color: #fff;
				font-size: 20px;
				padding: 10px 20px;
				margin: 0 0 10px;

				&:hover {
					background: @edddarkbluehover;
					color: #fff;
				}
			}

			& .hero-secondary-cta-link {
				color: @lightblue;
				text-decoration: underline;

				&:hover {
					color: #fff;
				}
			}
		}

		& .hero-screenshot {
			margin: 0 auto;
			vertical-align: bottom;
		}
	}

	& .hero-thumb {
		float: right;
		margin-right: -4px;
		width: 55%;

		& img {
			vertical-align: top;
		}
	}
}


/* ----------------------------- *
 * Integrations
 * ----------------------------- */
.integrations-area {
	background: #f7f7f7;
}

.integrations-wrap {
	/* flex properties pulled from .flex-container in the markup */
	margin: 0 auto;
	max-width: 1160px;

	& .integrations-item {
		position: relative;
		padding: 20px 0;
		width: 12.5%;
		vertical-align: top;
		display: flex;
		-webkit-justify-content: space-between;
		justify-content: space-between;
		-webkit-flex-flow: column;
		flex-flow: column nowrap;

		& img {
			opacity: 1;
			-webkit-transition: all .3s ease-in-out;
			-moz-transition: all .3s ease-in-out;
			-o-transition: all .3s ease-in-out;
			-ms-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;
			vertical-align: top;

			&:hover {
				opacity: .7;
			}
		}
	}
}


/* ----------------------------- *
 * Social Proof
 * ----------------------------- */
.social-proof-content {
	padding-top: 20px;

	& .featured-stats.flex-two {
		margin-bottom: 0;

		& .flex-two {
			margin-bottom: 0;
		}

		& .featured-stat {
			margin-bottom: 2.5rem;

			& > span {
				display: inline-block;
				color: #999;
				font-size: 1.3rem;
				font-style: italic;
				text-transform: uppercase;
				padding-bottom: 1px;
			}

			& p {
				font-size: 4.5rem;
				line-height: 1;
				font-weight: 700;
				margin-bottom: 0;

				& small {
					font-size: 60%;
				}
			}
		}

		& > p {
			margin-bottom: 4rem;
		}

		& .featured-stats-cta-link a {
			font-size: 2rem;
			padding: 10px 20px;
			margin-bottom: 1.5rem;

			& .fa {
				margin-right: 1.5rem;
			}
		}
	}

	& .globe-bg {
		& .globe-icon {
			margin-top: 3rem;
		}
	}
}


/* ----------------------------- *
 * Extensions
 * ----------------------------- */
.front-page-extensions-section {
	& .section-title-alt {
		background: transparent url('images/plug-icon.png') bottom right no-repeat;
	}

	& .featured-extensions {
		& .featured-extension {
			text-align: center;
			margin-bottom: 3rem;

			& > a {
				display: block;

				& img {
					vertical-align: top;
					-webkit-transition: all .3s ease-in-out;
					-moz-transition: all .3s ease-in-out;
					-o-transition: all .3s ease-in-out;
					-ms-transition: all .3s ease-in-out;
					transition: all .3s ease-in-out;
				}

				&:hover img {
					opacity: .8;
				}
			}
		}


		& > .flex-two {
			margin-bottom: 0;

			& img {
				border-radius: 4px;
			}
		}
	}

	& .front-page-extension-info {
		& h4 {
			font-style: 2.4rem;
			margin-bottom: 2.6rem;
		}
	}

	& .front-page-extensions-display {
		text-align: center;

		& .view-all-extensions {
			display: inline-block;
			font-size: 90%;

			& a {
				color: #999;
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}