/*
 * main site homepage styles
 */


/* ----------------------------- *
 * Hero
 * ----------------------------- */
#front-page-hero {
	text-align: left;

	& .inner {
		background: transparent url('images/edd-reports-screenshot-edd.png') bottom right no-repeat;

		& .front-page-section-title {
			line-height: 1.4;
			margin: 0;
		}

		& .site-headline {
			margin-bottom: 30px;

			& .hero-title {
				line-height: 1.4;
				max-width: 450px;
				font-weight: 500;
				font-size: 36px;
			}

			& .hero-subtitle {
				display: inline-block;
				color: @lightblue;
				font-size: 20px;
				margin-bottom: 10px;
			}
		}

		& .hero-cta {
			margin-bottom: 0;

			& a {
				display: inline-block;
				border-radius: 4px;
				-webkit-transition: all .2s;
				-moz-transition: all .2s;
				transition: all .2s;
			}

			& a .fa {
				margin-right: 15px;
			}

			& .hero-primary-cta-button {
				background: @edddarkblue;
				color: #fff;
				font-size: 20px;
				padding: 10px 20px;
				border: 2px solid @edddarkblue;
				margin: 0 0 10px;

				&:hover {
					background: @edddarkbluehover;
					color: #fff;
					border: 2px solid @edddarkbluehover;
				}
			}

			& .hero-secondary-cta-link {
				color: @lightblue;
				text-decoration: underline;

				&:hover {
					color: #fff;
				}
			}
		}

		& .hero-screenshot {
			display: none;
			margin: 0 auto;
			vertical-align: bottom;
		}
	}
}


/* ----------------------------- *
 * Integrations
 * ----------------------------- */
.integrations-area {
	background: #f7f7f7;
}

.integrations-wrap {
	/* flex properties pulled from .flex-container in the markup */
	margin: 0 auto;
	max-width: 1160px;

	& .integrations-item {
		position: relative;
		padding: 20px 0;
		width: 12.5%;
		vertical-align: top;
		display: flex;
		-webkit-justify-content: space-between;
		justify-content: space-between;
		-webkit-flex-flow: column;
		flex-flow: column nowrap;

		& img {
			opacity: 1;
			-webkit-transition: all .3s ease-in-out;
			-moz-transition: all .3s ease-in-out;
			-o-transition: all .3s ease-in-out;
			-ms-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;
			vertical-align: top;

			&:hover {
				opacity: .7;
			}
		}
	}
}


/* ----------------------------- *
 * Featuerd Stats
 * ----------------------------- */
 .featured-stats {
 	& .featured-stat {
 		margin-bottom: 0;

 		& > span {
 			font-size: 90%;
 		}

		& p {
			font-size: 200%;
			font-weight: 700;

			& small {
				font-size: 60%;
			}
		}
 	}
 }