/*
 * main site homepage styles
 */


/* ----------------------------- *
 * Hero
 * ----------------------------- */
#front-page-hero .inner {
	background: transparent url('images/edd-hero.png') bottom right no-repeat;
	padding-top: 80px;
	padding-bottom: 80px;
}

.front-page-section-title {
	line-height: 1.4;
	margin: 0;
}

.site-headline {
	margin-bottom: 30px;
}

.hero-title {
	line-height: 1.4;
	margin: 10px auto 0;
	max-width: 800px;
	font-weight: 500;
	font-size: 40px;
}

.hero-subtitle {
	color: @lightblue;
	font-size: 20px;
}

.hero-cta a {
	display: inline-block;
	border-radius: 4px;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	transition: all .2s;
}

.hero-cta a .fa {
	margin-right: 15px;
}

.hero-primary-cta-button {
	background: @edddarkblue;
	color: #fff;
	font-size: 20px;
	padding: 10px 20px;
	border: 2px solid @edddarkblue;
	margin: 0 0 10px;
}

.hero-primary-cta-button:hover {
	background: @edddarkbluehover;
	color: #fff;
	border: 2px solid @edddarkbluehover;
}

.hero-secondary-cta-link {
	color: @lightblue;
	text-decoration: underline;
}

.hero-secondary-cta-link:hover {
	color: #fff;
}


/* ----------------------------- *
 * Integrations
 * ----------------------------- */
.integrations-area {
	background: #f7f7f7;
}

.integrations-wrap {
	margin: 0 auto;
	max-width: 1200px;

	& .integrations-item {
		position: relative;
		padding: 20px 0;
		width: 12.5%;
		vertical-align: top;
		display: flex;
		-webkit-justify-content: space-between;
		justify-content: space-between;
		-webkit-flex-flow: column;
		flex-flow: column nowrap;

		/* grayscale integration icons

		& img {
			-webkit-filter: grayscale(1);
			filter: grayscale(1);
			opacity: .4;
			-webkit-transition: all .3s ease-in-out;
			-moz-transition: all .3s ease-in-out;
			-o-transition: all .3s ease-in-out;
			-ms-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;

			&:hover {
				-webkit-filter: grayscale(0);
				filter: grayscale(0);
				opacity: 1;
			}
		}

		*/
	}
}