/*
 * Gravity Forms styles
 */


/* ----------------------------- *
 * Shared
 * ----------------------------- */
.gform_wrapper {
	& .gfield_label {
		display: block;
		margin-bottom: 5px;
		font-weight: 400;

		& .gfield_required {
			margin-left: 2px;
		}
	}

	& input[type="text"],
	input[type="url"],
	input[type="email"],
	input[type="tel"],
	input[type="number"],
	input[type="password"],
	textarea,

	/* GF 2.0 style overrides */
	.gform_wrapper.gf_browser_chrome input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='file']),
	.gform_wrapper.gf_browser_chrome textarea {
		padding: 6px 10px !important;
		background: @eddgray;
		border: 3px solid @eddgrayhover;
		border-radius: 3px;
		outline: none;
		-webkit-transition: all .18s ease-in-out;
		-moz-transition: all .18s ease-in-out;
		-o-transition: all .18s ease-in-out;
		-ms-transition: all .18s ease-in-out;
		transition: all .18s ease-in-out;
		margin-bottom: 10px;
		font-size: inherit !important;
	}

	& textarea {
		line-height: 24px !important;
	}

	& .gfield_radio {
		margin-left: 8px !important;

		& li label {
			margin: 0 0 0 20px !important;
		}
	}
}

.gform_wrapper.gf_browser_chrome .gfield_radio li input[type="radio"] {
	margin-left: 1px;
}

.gform_fields input[type="radio"] {
	margin: 3px 5px 3px 2px !important;
}

div.form_saved_message div.form_saved_message_emailform form input[type="submit"] {
	display: block;
	margin-top: 10px;
}


/* ----------------------------- *
 * Starter package
 * ----------------------------- */
#starter-package .full-width-content {
	background: #fff;
	padding: 50px;
	border-radius: 4px;
}

#starter-package .entry-title {
	background: @eddblue url('images/mascot/edd-starter-package-header.png') no-repeat right bottom;
	color: #fff;
	padding: 34px 50px;
	border-radius: 4px 4px 0 0;
	margin: -50px -50px 50px;
}

#starter-package .entry-headline {
	display: block;
	font: 500 26px/1.4 @font-family;
	margin-bottom: 20px;
}

#starter-package .package-description {
	float: left;
	margin-bottom: 0;
	width: 50%;
}

#starter-package .package-discount {
	float: right;
	text-align: center;
	background: #F5F8FC;
	padding: 30px;
	border-radius: 4px;
	margin-top: -55px;
	width: 45%;
}

#starter-package .package-discount span {
	display: block;
	color: @green;
	font-weight: 700;
	font-size: 30px;
	margin-top: 16px;
}

#starter-package .edd-gf-section {
	padding: 0;
	border: none;
	margin: 0;
}

#starter-package .edd-gf-section h2 {
	display: none;
}

#starter-package .edd-gf-payment h2 {
	display: block;
	margin-bottom: 30px !important;
}

#starter-package .edd-gf-divider {
	clear: both;
	color: @eddgray;
	text-align: center;
	padding: 0;
	border: none;
	border-top: 4px solid @eddgray;
	margin: 30px 0;
	height: 0;
}

#starter-package .edd-gf-divider:after {
	content: "\f078";
	font-family: FontAwesome;
	display: inline-block;
	position: relative;
	top: -25px;
	font-size: 30px;
	padding: 0 10px;
	background: white;
}

#starter-package .gsection_description {
	padding: 0;
	width: 100%;
}

#starter-package .starter-package-headline {
	font-weight: 500;
	text-align: center;
	padding: 30px 0;
	margin: 30px 0;
}

#starter-package .gform_wrapper {
	max-width: 100%;
}

#starter-package .gfield {
	position: relative;
	padding-right: 0;
	margin-top: 0;
}

#starter-package .edd-gf-select {
	float: left;
	clear: none;
	width: 500px;
}

#starter-package select,
#starter-package .gform_wrapper .chosen-container {
	max-width: 100%;
}

#starter-package .edd-gf-email-marketing,
#starter-package .edd-gf-merchant-processor {
	padding: 50px 0;
	border-top: 4px solid @eddgray;
}

#starter-package .edd-gf-email-marketing {
	float: left;
	padding-right: 50px;
	border-right: 2px solid @eddgray;
}

#starter-package .edd-gf-merchant-processor {
	float: right;
	padding-left: 50px;
	border-left: 2px solid @eddgray;
}

#starter-package .edd-gf-marketing,
#starter-package .edd-gf-accounting,
#starter-package .edd-gf-misc {
	float: left;
	clear: none;
	padding: 50px 0 30px;
	border: 4px solid @eddgray;
	border-width: 4px 0;
	margin-bottom: 30px;
	width: 319px;
	min-height: 575px;

	& label:not(.gfield_label) {
		font-size: 1.3rem;
	}

	& input:checked + label {
		font-weight: 500;
	}
}

#starter-package .gform_wrapper li.gfield.gfield_error.edd-gf-marketing,
#starter-package .gform_wrapper li.gfield.gfield_error.edd-gf-accounting {
	background: #fff;
	padding: 50px 0 30px;
	border: 4px solid @eddgray;
	border-width: 4px 0;
}

#starter-package .edd-gf-marketing,
#starter-package .gform_wrapper li.gfield.gfield_error.edd-gf-marketing {
	padding-right: 50px;
	border-right: 2px solid @eddgray;
}

#starter-package .edd-gf-accounting,
#starter-package .gform_wrapper li.gfield.gfield_error.edd-gf-accounting {
	padding: 50px 50px 0;
	border: 2px solid @eddgray;
	border-width: 4px 2px;
	width: 361px;
}

#starter-package .gfield_checkbox input[type="checkbox"]:disabled + label {
	color: #bbb;
}

#starter-package .gfield_checkbox li input[type="checkbox"] {
	margin: 0 4px 0 0 !important;
}

#starter-package ul.gform_fields li.edd-gf-accounting input[type="radio"] {
	margin: 3px 5px 3px 2px !important;
}

#starter-package ul.gform_fields li.edd-gf-accounting input[type="radio"] + label {
	margin-left: 26px !important;
}

#starter-package .edd-gf-misc {
	padding-left: 50px;
	border-left: 2px solid @eddgray;
}

#starter-package .gfield_label,
#starter-package .edd-gf-payment h2 {
	font: 500 26px/1.4 @font-family;
	margin: 0;
}

#starter-package .gfield_required {
	display: none;
}

#starter-package .gfield_description {
	padding: 0;
	margin-bottom: 0;
	width: 100%;
}

#starter-package .gfield_description p {
	font-size: 13px;
	padding: 20px 0;
	border: 1px solid @eddgray;
	border-width: 1px 0 0;
}

#starter-package .edd-gf-label-tip {
	display: inline-block;
	background: #F5F8FC;
	font-size: 13px;
	padding: 3px 8px;
	border-radius: 3px;
	margin: 4px 0 10px;
}

#starter-package .gfield_error.edd-gf-marketing .edd-gf-label-tip,
#starter-package .gfield_error.edd-gf-accounting .edd-gf-label-tip,
#starter-package .gfield_error.edd-gf-misc .edd-gf-label-tip {
	background: #ffdfe0;
}

#starter-package .gfield_contains_required .edd-gf-label-tip:after {
	display: inline-block;
	content: "*";
	color: #EDA3A3;
	margin-left: 4px;
}

#starter-package .edd-gf-step {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
}

#starter-package .edd-gf-selected-extensions,
#starter-package .edd-gf-selected-extensions .starter-package-headline {
	font-size: 16px;
	padding: 0;
	border: none;
	margin: 0;
}

#starter-package .edd-gf-selected-extensions h2 {
	display: none;
}

#starter-package .gfield_price {
	display: inline-block;
	font-size: 13px;
	text-align: center;
	padding: 10px 10px 5px;
	border-radius: 4px;
	width: 33.33%;
}

#starter-package .gfield_price .gfield_label {
	display: block;
	background: @eddgray;
	font-size: 13px;
	font-weight: 400;
	font-family: @font-family;
	padding: 6px 4px;
	border-radius: 4px;
}

#starter-package .ginput_product_price_label {
	display: none;
}

#starter-package .ginput_product_price {
	display: none;
}

#starter-package .edd-gf-total-price {
	display: block;
	font-size: 20px;
	text-align: center;
	padding: 0;
	margin: 0;
	width: 100%;
}

#starter-package .edd-gf-total-price .ginput_container {
	display: inline-block;
}

#starter-package .edd-gf-total-price .ginput_total {
	color: @green;
	font-size: 30px;
}

#starter-package .edd-gf-total-price .gfield_label {
	display: inline;
	background: none;
	font-size: 20px;
	margin-right: 10px;
}

#starter-package .edd-gf-payment,
#starter-package .edd-gf-payment-method {
	margin: 0 auto !important;
	max-width: 660px;

	& .gfield_radio {
		width: 100%;
	}
}

#starter-package .edd-gf-email-field .gfield_label,
#starter-package .edd-gf-payment-method .gfield_label {
	display: none;
}

#starter-package .edd-gf-payment-method .gfield_radio {
	margin: 0 !important;
}

#starter-package .edd-gf-payment-method .gfield_radio li {
	display: inline-block;
	margin: 0 4% 0 0;
	width: 48%;
}

#starter-package .edd-gf-payment-method .gfield_radio li:last-child {
	margin-right: 0;
}

#starter-package .edd-gf-payment-method .gfield_radio li input {
	display: none;
}

#starter-package .edd-gf-payment-method .gfield_radio li label {
	background: @eddgray;
	color: #ccc;
	font-size: 22px;
	font-weight: 500;
	padding: 20px;
	border: 3px solid #eee;
	border-radius: 4px;
	margin: 0 !important;
	width: 100%;
	max-width: 100%;
	height: 78px;
	transition: all .2s;
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
	cursor: pointer;
}

#starter-package .edd-gf-payment-method .gfield_radio li label:hover {
	color: #999;
}

#starter-package .edd-gf-payment-method .gfield_radio li input + label:before {
	font-size: 21px;
	line-height: 1.2;
	font-family: "FontAwesome";
	content: "\f10c";
	margin-right: 10px;
}

#starter-package .edd-gf-payment-method .gfield_radio li input:checked + label {
	background: #F5F8FC;
	color: #62a9d7;
	font-weight: 500;
	border: 3px solid #DAE7F0;
}

#starter-package .edd-gf-payment-method .gfield_radio li input:checked + label:before {
	display: inline-block;
	color: @green;
	font-size: 21px;
	line-height: 1.2;
	font-family: "FontAwesome";
	content: "\f058";
	margin-right: 10px;
}

#starter-package .edd-gf-personal-info .starter-package-headline {
	margin: 0;
}

#starter-package .edd-gf-name-field,
#starter-package .edd-gf-email-field,
#starter-package .edd-gf-credit-debit,
#starter-package .edd-gf-billing-address,
#starter-package .edd-gf-starter-discount,
#starter-package .edd-gf-toc {
	max-width: 660px;
	margin: 30px auto !important;
}

#starter-package .gform_footer,
#starter-package .edd-gf-name-field,
#starter-package .edd-gf-email-field {
	padding-right: 0 !important;
	margin: 0 auto !important;
}

#starter-package .edd-gf-name-field > div {
	width: 100% !important;
}

#starter-package .edd-gf-email-field {
	margin-bottom: 30px !important;
}

#starter-package .edd-gf-name-field .gfield_label {
	margin-bottom: 10px;
}

#starter-package .edd-gf-billing-address {
	padding-bottom: 30px;
	border-bottom: 4px solid @eddgray;
	margin-top: 0 !important;
}

#starter-package .edd-gf-billing-address > label {
	margin-bottom: 10px;
}

#starter-package input[type="text"] {
	padding: 10px !important;
	margin-bottom: 0 !important;
}

#starter-package .edd-gf-cc .ginput_full input[type="text"] {
	width: 100% !important;
}

#starter-package .edd-gf-cc select {
	background: @eddgray;
	border: 3px solid @eddgrayhover;
	height: 44px;
	margin-left: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 100%;
}

#starter-package .edd-gf-cc .address_country select {
	width: 100% !important;
}

#starter-package .gfield_error.edd-gf-cc select {
	border: 1px solid #790000;
}

#starter-package .edd-gf-email-field .gfield_description,
#starter-package .edd-gf-cc .gfield_description,
#starter-package .edd-gf-cc .ginput_container label {
	color: #999;
	font-size: 13px;
	line-height: 25px;
}

#starter-package .edd-gf-buyer-detail .ginput_container,
#starter-package .edd-gf-buyer-detail .ginput_container label {
	color: #999;
	font-size: 13px;
	line-height: 25px;
	margin: .188em 0 .4em 0;
}

#starter-package .edd-gf-name-field.edd-gf-buyer-detail .ginput_container {
	margin-bottom: 0;
}

#starter-package .ginput_left,
#starter-package .ginput_right {
	padding: 0 !important;
	margin: 0 4% 0 0;
	width: 48%;
}

#starter-package .ginput_container_name > span {
	padding: 0;
	margin-right: 4%;
	width: 48%;
}

#starter-package .ginput_container_name > span:nth-child(even) {
	float: right;
	margin-right: 0;
}

#starter-package .gform_wrapper .top_label input.medium,
#starter-package .gform_wrapper .top_label select.medium {
	width: 48%;
}

#starter-package .ginput_container_name > span:nth-child(even),
#starter-package .ginput_right {
	margin-right: 0;
}

#starter-package .ginput_container_name input[type="text"],
#starter-package .ginput_left input[type="text"],
#starter-package .ginput_right input[type="text"] {
	margin-left: 0;
	width: 100%;
}

#starter-package .edd-gf-starter-discount {
	text-align: center;
	padding: 0 0 20px;
	margin-bottom: 0 !important;
}

#starter-package .edd-gf-starter-discount .gfield_label {
	font-weight: 400;
}

#starter-package .edd-gf-starter-discount .gfield_description {
	font-size: 15px;
	margin-bottom: 25px;
}

#starter-package .edd-gf-starter-discount input[type="text"],
#starter-package .edd-gf-starter-discount input[type="text"]:active,
#starter-package .edd-gf-starter-discount input[type="text"]:hover {
	display: inline;
	background: #fff;
	color: @eddblue;
	font-size: 24px !important;
	text-align: center;
	border: none;
	border-radius: 4px;
	box-shadow: none;
	max-width: 130px;
}

#starter-package .gform_footer {
	text-align: center;
}

#starter-package .gform_footer input[type="submit"] {
	display: block;
	font-size: 20px;
	padding: 10px;
	margin: 0 auto;
	width: 300px;
}

#starter-package .gform_ajax_spinner {
	display: block;
	margin: 10px auto 0;
}

#starter-package .gform_footer .gform_save_link {
	color: #999;
	margin: 10px 0 0;
}

#starter-package .gform_footer .gform_save_link:hover {
	color: #555;
}

#starter-package .gform_wrapper div.validation_error {
	background: #FFDFE0;
	color: #790000;
	font-size: 1em;
	font-weight: 400;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	margin: 25px 0;
}

#starter-package .gform_wrapper div.validation_error,
#starter-package .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container,
#starter-package .gform_wrapper .top_label .gfield_error:not(.edd-gf-marketing) {
	width: 100%;
}

#starter-package .gform_wrapper li.gfield_error .gfield_label {
	color: #555;
}

#starter-package .gform_wrapper li.gfield.gfield_error {
	padding: 30px;
	border: none;
	border-radius: 4px;
	margin-top: 0;
}

#starter-package .gform_wrapper li.gfield.gfield_error.gfield_contains_required.edd-gf-marketing {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

#starter-package .gform_wrapper li.gfield.gfield_error.edd-gf-name-field {
	padding-bottom: 0;
	border-bottom: none;
	border-radius: 4px 4px 0 0;
}

#starter-package .gform_wrapper li.gfield.gfield_error.edd-gf-email-field {
	padding-top: 10px;
	border-top: none;
	border-radius: 0 0 4px 4px;
}

#starter-package .gfield_description.validation_message {
	color: #555;
}

#starter-package .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description,
#starter-package .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container,
#starter-package .gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label,
#starter-package .gform_wrapper li.gfield.gfield_error.gfield_contains_required fieldset legend.gfield_label {
	margin-left: 0;
	max-width: 100%;
}

#starter-package .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description.validation_message {
	display: none;
}

#starter-package .form_saved_message {
	background: #F5F8FC;
	border: 2px solid #DAE7F0;
	margin-top: 50px;
}

#starter-package .form_saved_message input[type="text"] {
	background: #fff;
	font-size: inherit !important;
	padding: 6px 10px !important;
	border: 3px solid @eddgrayhover;
	border-radius: 3px;
	margin-bottom: 10px;
	min-width: 230px;
	outline: none;
}

#starter-package .edd-gf-toc {
	text-align: center;
	margin-bottom: 0 !important;
}

#starter-package .edd-gf-toc .gfield_label {
	margin-bottom: 10px;
}

#starter-package .edd-gf-toc .gfield_description {
	font-size: 15px;
	margin-bottom: 25px;
}

#starter-package .edd-gf-toc .gfield_checkbox li {
	margin-bottom: 0;
}

#starter-package .edd-gf-toc .gfield_checkbox {
	display: inline-block;
}

#starter-package .edd-gf-toc .gfield_checkbox li input {
	display: none;
}

#starter-package .edd-gf-toc .gfield_checkbox li label {
	background: @eddgray;
	color: #ccc;
	font-size: 22px;
	font-weight: 500;
	padding: 15px;
	border: 3px solid @eddgrayhover;
	border-radius: 4px;
	margin: 0 !important;
	width: 175px;
	height: 68px;
	transition: all .2s;
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
	cursor: pointer;
}

#starter-package .edd-gf-toc .gfield_checkbox li label:hover {
	color: #999;
}

#starter-package .edd-gf-toc .gfield_checkbox li input + label:before {
	font-size: 21px;
	line-height: 1.2;
	font-family: "FontAwesome";
	content: "\f10c";
	margin-right: 10px;
}

#starter-package .edd-gf-toc .gfield_checkbox li input:checked + label {
	background: #F5F8FC;
	color: #62a9d7;
	font-weight: 500;
	border: 3px solid #DAE7F0;
}

#starter-package .edd-gf-toc .gfield_checkbox li input:checked + label:before {
	display: inline-block;
	color: @green;
	content: "\f058";
}