/*
 * all responsive CSS
 */

/**
 * IE10 Metro responsive
 * Required for Windows 8 Metro split-screen snapping with IE10
 * Source: http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
 */
@-ms-viewport {
	width: device-width;
}

@media all and ( max-width: 1100px ) {

	/* navigation */
	#primary {
		font-size: 13px;
		font-size: 1.3rem;

		& ul {

			& a {
				padding: 0 12px 0 0;
			}
		}
	}

	/* structure */
	.site-container {
		padding: 0 30px;
	}

	.site-container .content {
		width: 68%;
	}

	.sidebar {
		margin-left: 4.5%;
		width: 27%;
	}

	/* front page */
	#front-page-hero {
		text-align: center;

		& .inner {
			background: none;
			padding-bottom: 0;

			& .site-headline .hero-title {
				margin: 0 auto;
				max-width: 700px;
			}

			& .hero-screenshot {
				display: block;
			}
		}
	}

	/* support docs/form */
	.support-page .support-section-link {
		min-height: 175px;
	}

	/* featured download / themes page */
	.featured-download-area.page-section-blue .featured-download-img {
		border-radius: 4px;
		margin-bottom: 20px;
	}

	.featured-download-info {
		padding-left: 30px;
		margin-bottom: 20px;
	}

	/* post footer */
	.edd-author-bio {
		width: 440px;
	}

	.edd-post-footer .newsletter-wrap .newsletter .newsletter-title {
		background-position-x: 24px;
		font-size: 16px;
		padding: 20px 50px 20px 155px;
	}

	.edd-post-footer .newsletter .newsletter-name-container,
	.edd-post-footer .newsletter .newsletter-email-container {
		width: 180px;
	}

	/* starter package */
	#starter-package .entry-title {
		font-size: 26px;
		margin-bottom: 30px;
	}

	#starter-package .package-discount {
		padding: 20px;
	}

	#starter-package .edd-gf-divider {
		margin: 20px 0 10px;
	}

	#starter-package .starter-package-headline {
		margin: 0;
	}

	#starter-package .edd-gf-payment .starter-package-headline {
		margin: 10px 0;
	}

	#starter-package .edd-gf-select {
		width: 50%;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	#starter-package .edd-gf-email-marketing {
		padding-right: 30px;
	}

	#starter-package .edd-gf-merchant-processor {
		padding-left: 30px;
	}

	#starter-package .edd-gf-marketing {
		padding-right: 30px;
	}

	#starter-package .edd-gf-misc {
		padding-left: 30px;
	}

	#starter-package .edd-gf-marketing,
	#starter-package .edd-gf-accounting,
	#starter-package .edd-gf-misc {
		width: 33.33333%;
	}

	/* account */
	.my-account-tabs {
		width: 30%;
	}

	.my-account-tab-content {
		width: 65%;
	}

	/* 404 page */
	.resources-404 .sad-edd {
		display: none;
	}
}


@media all and ( max-width: 1040px ) {
}


@media all and ( max-width: 900px ) {

	/* general */
	.section-header .section-title,
	.hero-title {
		font-size: 30px;
		font-size: 3rem;
	}

	/* navigation */
	.site-header {

		& .menu-toggle {
			display: block;
			position: absolute;
			top: 10px;
			right: 10px;
			cursor: pointer;
			font-size: 26px;
			color: #fff;
		}

		& .site-title {
			float: none;
		}
	}

	.edd-checkout-cart-empty .site-header {
		text-align: left;
	}

	#primary {
		float: none;
		height: auto;
		overflow: hidden;
		display: none;
		margin-top: 20px;
		background: rgba(255,255,255,.03);
		padding: 10px 30px 30px;
		border-radius: 4px;

		& ul:not(.sub-menu) > li:not(:last-child) {
			border-bottom: 2px solid #2a3238;
		}

		& ul {

			& ul {
				left: 0;
				border-top: 2px solid #2a3238;
				border-radius: 0;

				&:before {
					display: none;
				}

				& li {

					& a {
						padding: 0;

						&:before {
							font-family: "FontAwesome";
							content: '\f0da';
							color: #34434e;
							margin-right: 10px;
						}
					}

					&:not(:last-child) {
						border-bottom: 2px solid #2a3238;
					}
				}
			}

			& li {
				float: none;
			}

			& a {
				font-size: 16px;
				font-size: 1.6rem;
				padding: 0 12px 0 0;
				height: auto;
			}

			& ul li a {
				color: @darkblue_text;

				&:hover {
					color: #fff !important;
				}
			}
		}

		& .menu-download {
			display: none;
		}
	}

	html.cssanimations.csstransitions #primary ul ul,
	#primary ul ul {
		opacity: 1;
		top: 100%;
		visibility: visible;
		display: block;
		background: transparent;
		box-shadow: none;
		width: 100%;
		position: relative;
	}

	/* structure */
	.full-width .inner {
		padding-top: 45px;
		padding-bottom: 45px;
	}

	.site-container .content,
	.sidebar {
		float: none;
		width: 100%;
	}

	#landing-page-area .page-content,
	#full-width-page-area .page-content {
		margin-bottom: 0;
	}

	.sidebar {
		margin-left: 0;
	}

	/* front page */
	.integrations-wrap {
		padding: 20px 0;

		& .integrations-item {
			padding: 0;
			width: 25%;
		}
	}

	/* footer */
	.site-footer .sitting-edd {
		display: none;
	}

	.site-footer .footer-columns > div {
		width: 100%;
		margin: 0 0 30px;
	}

	/* front page */
	.page-section-blue .inner,
	#front-page-newsletter .inner {
		padding: 40px 20px;
	}

	.hero-subtitle {
		font-size: 16px;
	}

	.site-headline {
		margin-bottom: 30px;
	}

	.hero-primary-cta-button {
		font-size: 20px;
		padding: 15px 22px;
	}

	#front-page-gateways .inner {
		padding-top: 0;
	}

	.front-page-payment-gateways-content {
		padding-bottom: 0;
	}

	.front-page-testimonial-content {
		margin-top: 30px;
	}

	.testimonial-content .testimonials {
		display: block;
		margin: 0 auto 30px !important;
		max-width: 550px;
		width: 100%;
		min-height: auto;
	}

	#front-page-testimonials .testimonial-content .testimonials:last-child {
		margin-bottom: 0 !important;
	}

	/* downloads display */
	.download-grid {
		&.two-col .download-grid-item,
		&.three-col .download-grid-item {
			width: 48%;
		}
	}

	#recommended-products .download-grid-item {
		width: 46%;
	}

	/* product info */
	.product-info-content .product-info-list li {
		margin-right: 3.5%;
		width: 47.5%;
	}

	.product-info-content .product-info-list li:nth-child(3n) {
		margin-right: 3.5%;
	}

	.product-info-content .product-info-list li:nth-child(even) {
		margin-right: 0;
	}

	/* post footer */
	.edd-author-box {
		text-align: center;
	}

	.edd-author-avatar,
	.edd-author-bio {
		float: none;
		margin: 0 auto 10px;
	}

	.edd-post-footer .newsletter-wrap .newsletter .newsletter-title {
		background-position-x: 24px;
		font-size: 16px;
		padding: 20px 30px 20px 155px;
		margin: -50px -50px 20px;
	}

	.edd-post-footer .newsletter .newsletter-name-container,
	.edd-post-footer .newsletter .newsletter-email-container {
		width: 180px;
	}

	/* starter package */
	#starter-package .entry-title {
		font-size: 26px;
		border-radius: 0;
		margin-bottom: 30px;
	}

	#starter-package .package-discount {
		padding: 20px;
	}

	#starter-package .edd-gf-divider {
		margin: 20px 0 10px;
	}

	#starter-package .starter-package-headline {
		font-size: 26px;
		margin: 0;
	}

	#starter-package .edd-gf-payment .starter-package-headline {
		margin: 10px 0;
	}

	#starter-package .edd-gf-select {
		width: 50%;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	#starter-package .edd-gf-marketing,
	#starter-package .edd-gf-accounting,
	#starter-package .gform_wrapper li.gfield.gfield_error.edd-gf-accounting,
	#starter-package .edd-gf-misc {
		padding-top: 30px;
		width: 33.33333%;
	}

	#starter-package .edd-gf-email-marketing {
		padding-right: 30px;
	}

	#starter-package .edd-gf-merchant-processor {
		padding-left: 30px;
	}

	#starter-package .edd-gf-marketing {
		padding-right: 30px;
	}

	#starter-package .edd-gf-misc {
		padding-left: 30px;
	}

	#starter-package .edd-gf-accounting,
	#starter-package .gform_wrapper li.gfield.gfield_error.edd-gf-accounting {
		padding: 30px 30px 0;
	}

	#starter-package .content {
		border-radius: 0;
	}

	#starter-package .content {
		margin-top: -20px;
	}

	#starter-package .entry-title {
		font-size: 26px;
		border-radius: 0;
		margin-bottom: 30px;
	}

	#starter-package .edd-gf-divider {
		margin: 10px 0;
	}

	#starter-package .edd-gf-name-field {
		margin-top: 20px !important;
	}

	#starter-package .starter-package-headline {
		font-size: 26px;
		margin: 0;
	}

	#starter-package .edd-gf-select,
	#starter-package .edd-gf-checkbox,
	#starter-package .gform_wrapper li.gfield.gfield_error.edd-gf-accounting,
	#starter-package .edd-gf-radio {
		padding: 30px 0;
		border: 4px solid @eddgray;
		border-width: 4px 0 0 !important;
		margin: 0;
		width: 100%;
		min-height: 100px;
	}

	#starter-package .edd-gf-misc {
		border-bottom: 4px solid @eddgray;
		margin-bottom: 30px;
	}

	#starter-package .gfield_price:not(.edd-gf-total-price) {
		width: 50%;
	}

	#starter-package .content {
		border-radius: 0;
	}

	/* newsletter form */
	.sidebar .newsletter .newsletter-name-container,
	.sidebar .newsletter .newsletter-email-container,
	.sidebar .newsletter .newsletter-submit-container {
		display: inline-block;
		width: 210px;
		margin-right: 5px;
	}

	.sidebar .newsletter .newsletter-submit-container {
		width: 100px;
		margin-right: 0;
	}

	.sidebar .newsletter .newsletter-title {
		text-align: left;
		font-size: 16px;
		padding: 20px 30px 20px 155px;
		margin: -50px -30px 20px;
	}

	.edd-post-footer .newsletter-wrap .newsletter .newsletter-title {
		background-position-x: 24px;
		font-size: 16px;
		padding: 20px 30px 20px 155px;
	}

	.sidebar .newsletter-title span {
		display: inline;
	}

	/* bbPress */
	#bbpress-forums div.bbp-search-form #bbp_search {
		width: 98%;
		margin-bottom: 10px;
	}

	#bbpress-forums div.bbp-reply-content {
		margin-left: 105px;
	}

	#bbpress-forums div.bbp-breadcrumb p {
		float: none;
		width: 100%;
	}

	/* crew page */
	.contributors .crew-edd-standing {
		display: none;
	}

	/* 404 page */
	.content-404 {
		padding: 10px;
		margin-top: 20px;
	}

	/* account */
	.my-account-tabs,
	.my-account-tab-content {
		width: 100%;
	}

	.my-account-tabs {
		margin-bottom: 30px !important;
	}

	/* product display */
	.edd-downloads .section-header .filter-label,
	.edd-downloads .section-header .filter {
		width: 100%;
	}

	.edd-downloads .section-header .filter-label {
		margin-bottom: 20px;
	}

	.tax-download_category .extensions-header-area .inner,
	.tax-download_tag .extensions-header-area .inner {
		padding-bottom: 20px;
	}

	.tax-download_category .extensions-header-area .inner .section-header,
	.tax-download_tag .extensions-header-area .inner .section-header {
		margin-bottom: 10px;
	}

	/* Features */
	.features-grid-content-sections .edd-feature {
		margin-bottom: 40px;
		width: 100%;

		& h6 {
			font-size: 20px;
			font-size: 2rem;
			padding-left: 0;

			& .fa {
				position: static;
				font-size: 100%;
			}
		}

		& p {
			margin-left: 0;
		}
	}

	/* Flexbox */
	.flex-container {
		&.featured-stats {
			padding: 0 20px;

			& .flex-four {
				margin-bottom: 30px;
				width: 50%;
			}
		}
	}

	#front-page-extensions-area .inner {
		padding-bottom: 0;
	}

	.site-footer .flex-container {
		& .flex-two {
			width: 100%;
		}
	}

	/* support docs/form */
	.support-page .support-section-link {
		min-height: 175px;
	}

	/* The Crew */
	.crew-member {
		width: 100% !important;
	}

	.crew-member.crew-part-time {
		width: 47.5% !important;
	}

	/* Brand Assets */
	.brand-assets .color [class*="color-"],
	.brand-assets .logo [class*="logo-"] {
		font-size: 1.5rem;
		padding-right: 3rem;
		padding-left: 3rem;
	}
}


@media all and ( max-width: 768px ) {

	/* structure */
	.site-container {
		margin: 20px 0;
	}

	.blog:not(.single) .site-container .content .hentry {
		margin-bottom: 30px;
	}

	#starter-package .full-width-content,
	.showcase-submission,
	#landing-page-area .page-content,
	#full-width-page-area .page-content,
	.site-container .content .hentry,
	.bbpress .site-container .content,
	.edd-checkout .checkout-content {
		padding: 20px;
	}

	#starter-package .entry-title,
	.edd-post-footer .newsletter-wrap,
	#comments,
	#respond {
		padding-right: 20px;
		padding-left: 20px;
	}

	#starter-package .entry-title,
	.edd-post-footer,
	.edd-post-footer .newsletter-wrap .newsletter .newsletter-title,
	.sidebar .newsletter .newsletter-title {
		margin-right: -20px;
		margin-left: -20px;
	}

	.edd-post-footer .newsletter-wrap .newsletter .newsletter-title {
		padding-right: 20px;
	}

	/* bbPress */
	#bbpress-forums .moderator-tools #bbps_support_forum_options form {
		margin-bottom: 4px;
	}

	/* product info */
	.product-info-content .product-info-list li,
	.product-info-content .product-info-list li:nth-child(3n) {
		margin-right: 0;
		width: 100%;
	}

	/* crew page */
	.contributors .contributor {
		width: 100%;
	}

	.contributors h3 {
		font-size: 2rem;
		line-height: 1.4;
		margin-top: 10px;
	}

	/* newsletter */
	.sidebar .newsletter {
		padding: 50px 20px 30px;
	}

	.blog .newsletter .newsletter-title,
	.single .newsletter .newsletter-title {
		background-position-x: 16px;
		font-size: 20px;
		text-align: right;
		padding: 20px 20px 20px 125px;
		margin: -50px -20px 20px;
	}

	.edd-post-footer .newsletter-wrap .newsletter .newsletter-title {
		font-size: 20px;
		text-align: right;
		padding: 20px 20px 20px 125px;
		margin: -50px -20px 20px;
	}

	.newsletter-title span {
		display: none !important;
	}

	.featured-download-thumb,
	.featured-download-info {
		width: 100%;
		padding: 0;
	}

	.featured-download-img,
	.featured-download-title {
		margin-bottom: 20px;
	}

	.featured-download-title {
		font-size: 24px;
	}

	.featured-download-label {
		vertical-align: text-bottom;
	}

	.download-grid-item-primary-link,
	.download-grid-item-secondary-link,
	.featured-download-primary-link,
	.featured-download-secondary-link {
		text-align: center;
		width: 100%;
	}

	.download-grid-item-primary-link,
	.featured-download-primary-link {
		margin-bottom: 10px;
	}

	.extensions-search-form {
		max-width: 500px;
	}

	.extensions-search-form input {
		font-size: 18px;
	}

	.extensions-search-form input[type="search"],
	.extensions-search-form input[type="submit"] {
		width: 100%;
		max-width: 100%;
	}

	.extensions-search-form input[type="search"] {
		margin-bottom: 10px;
	}

	.pricing-container .support-box {
		width: 100%;
	}

	/* starter package */
	#starter-package {
		margin-top: 50px;
	}

	#starter-package .package-description,
	#starter-package .package-discount {
		float: none;
		width: 100%;
	}

	#starter-package .package-discount {
		margin-top: 30px;
	}

	#starter-package .edd-gf-payment-method .gfield_radio li label {
		font-size: 18px;
	}

	/* 404 page */
	.content-404 {
		margin-top: 0;
	}

	.col-404,
	.extensions-404.col-404 {
		margin: 0 0 20px;
		width: 100%;
	}

	.resources-404 {
		padding-top: 0;
	}

	/* support docs/form */
	.support-page .support-section {
		width: 48%;
	}

	.support-page .support-section-link {
		min-height: inherit;
	}

	.support-page .support-section-title {
		font-size: 1.6rem;
	}

	.support-page .button-break {
		display: block;
		height: 6px;
	}

	.support-type {
		float: none;
		width: 100%;
	}

	.yearly-support {
		margin-bottom: 30px;
	}

	.support-type-title span {
		margin-left: 0;
	}

	/* recommended products */
	#recommended-products .download-grid-item {
		width: 100%;
		margin-bottom: 3.5%;
	}

	#recommended-products .download-grid-item:nth-child(odd) {
		margin-bottom: 20px;
	}

	/* checkout */
	#edd_checkout_cart .edd_cart_header_row th,
	#edd_checkout_cart td,
	#edd_checkout_cart th {
		font-size: 1.3rem;
		line-height: 1.4;
		padding: 10px;
	}

	#edd_checkout_form_wrap input.edd-input {
		width: 100%;
	}

	#edd_checkout_form_wrap span.card-type {
		right: 10px;
	}

	#ssl-seal,
	#edd_checkout_cart td img {
		display: none;
	}

	/* The Crew */
	.crew-member .avatar {
		max-width: 90px;
	}

	.crew-member.crew-part-time {
		width: 100% !important;
	}
}


@media all and ( max-width: 600px ) {

	/* front page */
	#front-page-hero .inner {
		background: none;
	}

	.integrations-wrap {
		& .integrations-item {
			padding: 0;
			width: 50%;
		}
	}

	/* downloads display */
	.download-grid {
		&.two-col .download-grid-item,
		&.three-col .download-grid-item {
			width: 100%;

			& .download-grid-title,
			& .download-grid-title {
				font-size: 22px;
			}
		}
	}

	/* starter package */
	#starter-package {
		margin-top: 50px;
	}

	#starter-package .edd-gf-payment-method .gfield_radio li {
		margin-bottom: 10px;
		width: 100%;
	}

	/* account page */
	.my-account-tab-content {
		overflow: auto;
		font-size: 1.3rem;
	}

	/* Flexbox */
	.flex-container {

		& .flex-two,
		& .flex-three {
			width: 100%;
		}
	}
}


@media all and ( max-width: 480px ) {

	/* header */
	.site-title {
		float: none;
		text-align: center;
		margin: 0 auto;

		& a {
			display: block;
			margin: 0;
		}
	}

	.site-header .menu-toggle {
		display: block;
		position: static !important;
		text-align: center;
		cursor: pointer;
		font-size: 26px;
		color: #fff;
		margin: 15px auto 0;
		min-width: 20px;

		&::selection,
		&::-moz-selection {
			background-color: transparent;
		}
	}

	#primary {
		float: none;
		height: auto;
		overflow: hidden;
		display: none;

		& ul li {
			float: none;
		}
	}

	html.cssanimations.csstransitions #primary ul ul,
	#primary ul ul {
		opacity: 1;
		top: 100%;
		visibility: visible;
		display: block;
		background: transparent;
		box-shadow: none;
		width: 100%;
		position: relative;
	}

	#primary ul ul:before {
		display: none;
	}

	#primary ul a {
		height: auto;
	}

	#primary ul ul li a {
		color: #999;

		&:hover {
			color: #fff !important;
		}
	}

	.menu-download {
		display: none;
	}

	#front-page-hero .inner {
		padding-bottom: 30px;

		& .hero-screenshot {
			display: none;
		}
	}

	/* downloads display */
	.pagination,
	.edd_pagination {
		padding-left: 20px;
	}

	.filter {
		margin-top: 10px;
	}

	/* bbPress */
	.bbpress .main .content {
		width: 100%;
	}

	.bbpress .sidebar {
		width: 100%;
		margin-left: 0;
	}

	#bbpress-forums div.bbp-search-form #bbp_search {
		width: 98%;
		margin-bottom: 10px;
	}

	#bbpress-forums div.bbp-reply-content {
		margin-left: 105px;
	}

	#bbpress-forums div.bbp-breadcrumb p {
		float: none;
		width: 100%;
	}

	#bbpress-forums li.bbp-body div.bbp-reply-content {
		clear: none !important;
		margin-left: 0 !important;
		width: 100% !important;
		padding: 12px 12px 12px 0 !important;
		margin-bottom: 20px;
	}

	#bbpress-forums ul.bbp-action-links-dropdown {
		left: 189px;
	}

	.bbp-user-page {
		.bbpress .main h1 {
			text-align: center;
		}

		#bbpress-forums #bbp-single-user-details {
			width: 100%;
			float: none;
		}

		#bbpress-forums #bbp-single-user-details #bbp-user-avatar {
			width: 100%;
		}

		#bbp-user-avatar .vcard {
			display: block;
			width: 150px;
			height: 150px;
			margin: 0 auto;
			float: none;
		}

		#bbpress-forums #bbp-single-user-details #bbp-user-navigation {
			margin-top: 20px;
			margin-bottom: 20px;
		}

		#bbpress-forums #bbp-single-user-details #bbp-user-navigation a {
			text-align: center;
		}

		.bbp-user-profile,
		.edd_users_purchases,
		.rcp_support_status {
			border: 1px solid #eee;
			margin-bottom: 25px;
			padding: 20px;
		}

		.bbp-user-profile p {
			margin: 0 0 15px;
		}

		.bbp-user-profile p:last-child {
			margin-bottom: 0;
		}

		.edd_users_purchases h4,
		.rcp_support_status h4 {
			margin-top: 0;
		}
	}

	#bbpress-forums .moderator-tools #bbps_support_forum_options form {
		float: none;
		margin-bottom: 12px;
	}

	#bbpress-forums .moderator-tools select#bbps_support_options,
	#bbpress-forums .moderator-tools #bbps_support_forum_options input[type="submit"] {
		display: block;
		width: 100%;
	}

	#bbpress-forums .moderator-tools select#bbps_support_options {
		margin-bottom: 4px;
	}

	/* account page */
	.my-account-tabs .nav-tabs {
		& li {
			width: 100%;
		}

		& li:nth-child(odd) {
			border-right: none;
		}
	}

	#edd_profile_editor_form fieldset label {
		width: 100%;
		margin-bottom: 0;
	}

	#account-page #edd_profile_editor_form fieldset input[type="text"],
	#account-page #edd_profile_editor_form fieldset input[type="email"],
	#account-page #edd_profile_editor_form fieldset input[type="password"],
	#account-page #edd_profile_editor_form fieldset select {
		width: 100% !important;
		margin-bottom: 10px !important;
	}

	#account-page #edd_profile_editor_form p#edd_profile_display_name_wrap {
		margin-bottom: 10px;
	}

	#edd_profile_editor_form #edd_address_country {
		margin-bottom: 25px;
	}

	#edd_profile_editor_form fieldset input[type="text"],
	#edd_profile_editor_form fieldset input[type="email"],
	#edd_profile_editor_form fieldset input[type="password"] {
		margin-bottom: 30px;
	}

	#edd_profile_editor_form p#edd_profile_display_name_wrap {
		margin-bottom: 30px;
	}

	/* checkout */
	#edd_checkout_form_wrap input.edd-input {
		width: 100% !important;
	}

	#edd_secure_site_wrapper, #ssl-seal {
		display: none;
	}

	/* post footer */
	.edd-author-box {
		text-align: center;
	}

	.edd-author-avatar {
		float: none;
		margin: 0 auto 10px;
	}

	.edd-author-bio {
		width: 100%;
	}

	.edd-post-footer {
		margin-bottom: 30px;
	}

	.edd-post-footer .newsletter-wrap {
		padding: 50px 20px 20px;
	}

	.newsletter .newsletter-name-container,
	.newsletter .newsletter-email-container,
	.newsletter .newsletter-submit-container {
		width: 100% !important;
	}

	.single .newsletter form {
		margin-bottom: 20px;
	}

	/* comments */
	#comments,
	#respond {
		padding-top: 0;
	}

	#comments .comment-body p {
		font-size: 15px;
	}

	.comment-list .children li {
		padding-left: 0;
		border-left: none;
	}

	/* starter package */
	#starter-package .package-description,
	#starter-package .package-discount {
		float: none;
		width: 100%
	}

	#starter-package .package-discount {
		margin-top: 20px;
	}

	#starter-package .gfield_price,
	#starter-package .gform_wrapper .top_label input.medium,
	#starter-package .gform_wrapper .top_label select.medium {
		width: 100%;
	}

	#starter-package .edd-gf-payment-method .gfield_radio li {
		margin: 0 0 10px;
		width: 100%;
	}

	#starter-package .content,
	#starter-package .entry-title {
		padding: 20px;
	}

	#starter-package .entry-title {
		margin: -20px -20px 30px;
	}

	#starter-package .edd-gf-buyer-detail .name_first,
	#starter-package .edd-gf-buyer-detail .name_last,
	#starter-package .ginput_left,
	#starter-package .ginput_right {
		margin: 0 0 10px;
		width: 100%;
	}

	#starter-package .gform_wrapper .ginput_complex select.ginput_card_expiration.ginput_card_expiration_month,
	#starter-package .gform_wrapper .ginput_complex select.ginput_card_expiration.ginput_card_expiration_year {
		width: 100% !important;
	}

	#starter-package .gform_wrapper .ginput_complex select.ginput_card_expiration.ginput_card_expiration_month {
		margin-bottom: 10px !important;
	}

	/* Common Page Templates */
	.showcase-submission {
		padding: 20px;
	}

	/* support docs/form */
	.support-page .support-section {
		width: 100%;
	}

	.support-page .support-section-link {
		min-height: 100px;
	}

	.support-page .helpscout-docs input[type="text"] {
		font-size: 20px !important;
	}

	.support-page .helpscout-docs input[type="text"],
	.support-page .gform_wrapper .gform_page_footer input[type="button"],
	.support-page .gform_wrapper .gform_page_footer input[type="submit"] {
		display: block;
		width: 100% !important;
	}

	.edd-gf-support-tickets-form [class*="edd-gf-support-tickets-form-"] .ginput_container > span {
		width: 100% !important;
	}

	.gform_wrapper .edd-gf-support-tickets-form .ginput_complex .ginput_right {
		margin-left: 0;
	}

	.gform_wrapper .edd-gf-support-tickets-form .edd-gf-support-tickets-form-subject li {
		display: block;
		width: 100%;
		margin-bottom: 10px;
	}

	.edd-gf-support-tickets-form .edd-gf-divider {
		margin-top: 10px;
	}

	/* support pricing */
	.support-type-cta span {
		display: none;
	}

	/* featuers */
	.features-grid-content-sections .edd-feature h6 {
		font-size: 16px;
		font-size: 1.6rem;

		& .fa {
			margin-right: 6px;
		}
	}

	/* newsletter */
	#footer-newsletter form .nl-email .newsletter-email {
		width: 55%;
	}

	#footer-newsletter form input[type="submit"] {
		width: 45%;
	}

	/* Flexbox */
	.flex-container {
		&.featured-stats {
			padding: 0;

			& .flex-four {
				padding: 0;
				width: 100%;
			}
		}
	}
}