/*
 * Simple Notices Pro styles
 */

#notification-area {
	background: #3498db;
	width: 100%;
	padding: 1rem 4rem;
	vertical-align: middle;
	text-align: center;
	position: relative;

	& .notice-content {
		& strong {
			font-size: 130%;
			text-transform: uppercase;
			text-shadow: 1px 1px 3px rgba(0,0,0,.3);
		}

		& a {
			color: #fff;
			border-bottom: 1px dotted #eee;

			&:hover {
				border-bottom: 1px solid #fff;
			}
		}

		& svg,
		p {
			display: inline-block;
			vertical-align: middle;
		}

		& p {
			margin-bottom: 0;
			font-size: 14px;
		}

		& h3,
		p {
			color: #fff;
		}

		& h3 {
			margin-bottom: 0;
		}

		& h3 {
			display: none;
		}

		& #announcement {
			margin: 0 10px 0 0;
		}
	}

	&.snp-hidden {
		display: none;
	}

	& #remove-notice {
		position: absolute;
			top: 1.25rem;
			right: 1rem;
		margin: 0;
	}
}

.logged-in #notification-area.snp-hidden {
	display: block;
}

@media only screen and ( min-width: 920px ) {
	#announcement {
		margin: 0 0 10px 0;
	}
}
