/*
 * basic blog, archive, and singular styles
 */


/* ----------------------------- *
 * entry header
 * ----------------------------- */
.entry-header {
	margin-bottom: 20px;

	& .entry-date {
		padding: 0;
		font-size: 13px;
		font-size: 1.3rem;
		margin: 0 0 10px;
		display: inline-block;
		color: #999;

		& i {
			margin-right: 5px;
			width: 16px;
			display: inline-block;
		}
	}

	& .entry-title {
		font-size: 2.6rem;
		font-weight: 500;
		padding-bottom: 20px;
		border-bottom: 3px solid @eddgray;
		margin-bottom: 30px;

		& a {
			color: #555;
		}
	}
}

.blog .entry-header {
	margin-bottom: 0;

	& .entry-title.download-grid-title {
		font-size: 2.2rem;
	}
}


/* ----------------------------- *
 * entry content/summary/footer
 * ----------------------------- */
.entry-content,
.entry-summary {
	margin-bottom: 30px;

	& h1, h2 {
		font-size: 2.6rem;
	}

	& h3 {
		font-size: 2.2rem;
	}

	& h4, h5 {
		font-size: 1.8rem;
	}

	& h6 {
		font-size: 1.6rem;
	}

	& h4, h6 {
		color: #777;
	}
}

.featured-img {
	border-radius: 4px;
	margin-bottom: 25px;
}

.gateway-filter-note {
	clear: both;
	color: #999;
	font-size: 1.3rem;
	line-height: 1.4;
	font-style: italic;
	margin-bottom: 20px;

	& a {
		color: #777;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}

.gateway-terms {
	font-size: 1.3rem;
}

.updated-gateway-info {
	background: @eddgrayhover;
	font-size: 1.3rem;
	padding: 10px 14px;
	border-radius: 4px;
}

.view-all-gateways a {
	color: #999;
	font-size: 1.3rem;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.post-meta {
	color: #999;
	font-size: 13px;

	& span[class*="entry-"] {

		& i {
			width: 16px;
			display: inline-block;
		}

		& a {
			color: #777;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}

	& .avatar {
		border-radius: 50%;
		margin-right: 3px;
		vertical-align: bottom;
	}
}

.single.blog .post-meta {
	padding: 0;
	border: none;
	margin: 0 0 25px;

	& .avatar {
		border-radius: 50%;
		margin-right: 3px;
		vertical-align: middle;
	}
}

.edd-author-box {
	padding: 30px 0;
	border: 3px solid #f1f1f1;
	border-width: 3px 0;
	margin-bottom: 30px;

	& .edd-author-avatar {
		float: left;
		margin-right: 30px;
		width: 90px;

		& img {
			border-radius: 50%;
		}
	}

	.edd-author-bio {
		float: left;
		width: 520px;

		& .edd-author-title,
		.edd-author-url {
			display: inline-block;
			margin-right: 6px !important;

			& a {
				color: #aaa;

				&:hover {
					color: #555;
				}
			}
		}
	}
}

.blog .download-grid.two-col .download-grid-item {
	display: -webkit-flex;
	display: flex;
	flex-direction: column;

	& .download-grid-item-info {
		padding-bottom: 0;
		margin-bottom: 0;

		& .entry-title.download-grid-title {
			font-size: 2.6rem;
		}

		& .post-meta {
			margin-bottom: 30px;
		}

		& > p {
			font-size: 1.6rem;
			margin-bottom: 12px;
			min-height: auto;
		}
	}
}

.blog .entry-more-link {
	font-size: 1.3rem !important;
	margin: auto 0 0 !important;

	& a {
		color: #999;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}

.blog .download-grid.three-col .download-grid-item {
	min-height: 100px;

	& .post-meta {
		margin-bottom: 16px;
	}
}

.blog .entry-footer {
	padding: 20px;
	margin: auto 0 0;
}


/* ----------------------------- *
 * Misc
 * ----------------------------- */
#page-nav {
	.paged, .page-numbers {
		margin: 20px 0;
		padding: 0;
		list-style: none;

		& li {
			display: inline;
			&.previous {
				float: left;
			}

			&.next {
				float: right;

				& i {
					margin-right: 0;
					margin-left: 5px;
				}
			}

			& a {
				display: inline-block;
				float: left;
				color: #777;
				font-size: 1.3rem;
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	.page-numbers {
		a {
			margin-right: 8px;
			border: 1px solid #fff;
		}

		.current {
			border: 1px solid #555;
			display: inline-block;
			float: left;
			padding: 3px 12px;
			background: #fff;
			margin-right: 8px;
		}
	}
}

.edd-embedded-video-wrapper {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	margin: 0 0 25px;
}

.edd-embedded-video-wrapper iframe,
.edd-embedded-video-wrapper object,
.edd-embedded-video-wrapper embed,
.edd-embedded-video-wrapper video {
	position: absolute;
		top: 0;
		left: 0;
	width: 100%;
	height: 100%;
}

.blog-home-area.blog-home-browse-posts .inner {
	padding-top: 0;
}

.blog-home-content {
	position: relative;

	& #searchform {

		& input[type="submit"]#searchsubmit {
			border-width: 2px !important;
		}
	}

	& .blog-categories li {

		& a {
			display: inline-block;
			background: #a2acb2;
			color: #fff;
			font-size: 13px;
			line-height: 1;
			padding: 6px 8px;
			border-radius: 3px;
			margin: 0 0 2px 20px;
			-webkit-transition: all .2s ease-in-out;
			-moz-transition: all .2s ease-in-out;
			-o-transition: all .2s ease-in-out;
			-ms-transition: all .2s ease-in-out;
			transition: all .2s ease-in-out;
			vertical-align: middle;

			& .fa {
				margin-right: 3px;
			}

			&:hover {
				background: #2794da;
			}
		}

		&.current-cat a {
			background: @eddblue;
		}
	}

	& .section-title-alt .subscribe-to-blog {
		display: inline-block;
		background: #a2acb2;
		color: #fff;
		font-size: 13px;
		line-height: 1;
		padding: 6px 8px;
		border-radius: 3px;
		margin: 0 0 2px 0;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		-ms-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
		vertical-align: middle;

		&:hover {
			background: #2794da;
		}
	}

	& .continue-search-form {
		position: absolute;
		right: 0;
		top: -2px;
	}

	& .taxonomy-description {

	}

	& .blog-categories {
		margin-bottom: 25px;

		& ul {
			list-style: none;
			padding: 0;
			margin: 0;

			& li {
				float: left;
				list-style: none;
				margin: 0 8px 8px 0;

				& a {
					margin-left: 0;
				}
			}
		}
	}
}


/* ----------------------------- *
 * single downloads (standard)
 * ----------------------------- */
.single-download .download-data {
	margin-bottom: 30px;

	& .download-img {
		float: left;
		width: 100%;
		max-width: 55%;
	}

	& .download-meta-data {
		color: #777;
		float: right;
		font-size: 1.3rem;
		width: 100%;
		max-width: 42%;

		& h5 {
			color: #555;
		}

		& .download-info-section {
			margin-bottom: 10px;
		}

		& .edd-download-detail-label {
			color: #777;
			font-weight: 500;
		}

		& .changelog-link {
			margin-left: 5px;
		}

		& .modal-content {
			color: #555;

			& .modal-title {
				color: #fff;
			}
		}
	}
}


/* ----------------------------- *
 * blog search
 * ----------------------------- */
.section-title-alt .queried-term {
	color: #777;
}