/*
 * theme-wide sidebar styles
 */


/* ----------------------------- *
 * Global Sidebar
 * ----------------------------- */
.sidebar {
	float: right;
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 24px;
	margin-left: 50px;
	width: 330px;

	& a {
		color: #777;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	& .widget:not(:last-child) {
		margin-bottom: 45px;
	}

	& .widget-title {
		margin: 0;
		margin-bottom: 10px;
		font-size: 18px;
		font-weight: 500;
	}

	& select {
		max-width: 100%;
	}
}

.single-download .sidebar .download-info-section:not(:last-child) {
	margin-bottom: 45px;
}

/* cart widget */
.widget_edd_cart_widget .edd-cart {
	margin: 0;
	padding: 0;
	list-style: none;

	& .edd-cart-item,
	.edd-cart-number-of-items {
		font-size: 13px;
	}

	& .edd-cart-item-quantity {
		margin-left: 10px;
	}

	& .edd-cart-number-of-items {
		margin-bottom: 10px;
	}

	& .edd-cart-item {
		& .edd-cart-item-title {
			display: block;
		}

		& .edd-cart-item-separator {
			display: none;
		}
	}

	& .edd-cart-meta.edd_total {
		font-weight: 400;
		padding-left: 0;
		margin: 10px 0;

		& span {
			color: @green;
			font-weight: 500;
		}
	}

	& .cart_item.edd_subtotal {
		padding: 10px 0;
		border: 1px solid #f2f2f2;
		border-width: 1px 0;
		margin: 15px 0;
	}
}

/* download details widget */
.widget_edd_product_details {
	& .edd-meta {
		font-size: 1.3rem;
	}

	& .edd_download_purchase_form {
		margin-bottom: 10px;
	}
}


/* ----------------------------- *
 * Download Sidebar
 * ----------------------------- */
.download-sidebar {
	& .widget:not(:last-child) {
		margin-bottom: 45px;
	}

	& .download-access {
		background: @eddblue;
		color: #fff;
		border-radius: 4px;

		& .pricing-header {
			background: rgba(0,0,0,.1) url('images/mascot/edd-headshot.png') no-repeat 22px bottom;
			text-align: right;
			padding: 18px 30px;
			border-bottom: 1px solid #215b95;

			& .widget-title {
				font-size: 2rem;
				font-weight: 400;
				padding: 0;
				border: none;
				margin: 0;
			}
		}

		& .pricing-info {
			padding: 20px 30px 30px;

			& .edd_download_purchase_form {
				position: relative;

				& .edd-submit.button,
				.edd_purchase_submit_wrapper {
					display: block;
					width: 100%;
				}
			}

			& .edd-submit.button,
			.edd_purchase_submit_wrapper,
			.external-download-button {
				display: block;
				width: 100%;
			}

			& .terms {
				font-size: 1.4rem;
				line-height: 1.4;
				opacity: .75;
				margin-bottom: 0;

				& a {
					color: #fff;

					&:hover {
						text-decoration: none;
					}
				}

				& .fa {
					margin-right: 4px;
				}
			}

			& .edd-cart-added-alert {
				color: #fff;
				right: 4px;
				left: inherit;
			}

			& .external-download-button {
				margin-bottom: 1.387em;
			}
		}
	}

	& .download-details {
		& .author:not(:last-child) {
			margin-bottom: 10px;
		}

		& .version {
			line-height: 1;
			margin-bottom: 0;
		}
	}

	& .related-items {
		& .related-links {
			list-style: none;
			padding-left: 0;
			margin: 0;

			& li {
				list-style: none;
				padding-bottom: 6px;
				border-bottom: 1px dotted @eddgrayhover;
				margin-bottom: 6px;

				&:last-child {
					padding-bottom: 0;
					border-bottom: none;
					margin-bottom: 0;
				}
			}
		}
	}

	& .edd-download-detail-label {
		float: left;
		text-transform: uppercase;
		color: #999;
		font-size: 12px;
		width: 39%;
	}

	& .edd-download-detail {
		float: right;
		text-align: right;
		width: 58%;
	}
}

.edd_price_options {
	& ul {
		margin: 0;
		padding: 0;

		& label {
			display: block;
			position: relative;
			font-size: 1.6rem;
			font-weight: 400;
			margin-bottom: 15px;
			cursor: pointer;

			& input[type="radio"] {
				float: left;
				outline: none;
				opacity: 0;
				filter: alpha(opacity=0);
				zoom: 1;
				width: auto;
				cursor: pointer;
				vertical-align: middle;
				width: 25px;
				height: 24px;
			}

			& .radio-button:before {
				display: block;
				position: absolute;
					top: 0;
					left: 0;
				color: #b3daf2;
				font-family: "FontAwesome";
				content: "\f10c";
				font-size: 2.4rem;
				width: 20px;
				height: 20px;
			}

			&.selected .radio-button:before {
				color: @green;
				color: @edddarkblue;
				font-family: "FontAwesome";
				content: "\f058";
			}

			& .edd_price_option_name {
				display: inline-block;
				font-size: 1.3rem;
				margin-left: 6px;
			}

			& .edd_price_option_sep {
				display: none !important;
			}

			& .edd_price_option_price {
				float: left;
				display: inline-block;
				font-size: 2rem;
				font-weight: 500;
				padding-left: 5px;
			}
		}
	}

	& span {
		display: inline;
		margin: 0;
		padding: 0;
	}
}