.hero {
	background: url(images/mbp.png) no-repeat center top scroll;
	color: #fff;
	padding: 50px 0;
	position: relative;
	height: 650px;
	
	& .hero-inside {
		width: 940px;
		margin: 0 auto;
	}
	
	& h1, h2 {
		font-weight: normal;
		line-height: 1.3;
		text-shadow: 0 2px 0 rgba(255,255,255,0.7);
		margin-top: 0;
		margin-bottom: 0;
		color: #232527;
	}
	
	& h1 { margin-bottom: 10px; }
	
	& h2 { margin-top: -10px; }
	
	& .video-thumbnail {
		background: url(images/video-thumbnail.png) no-repeat;
		width: 275px;
		height: 154px;
		margin: 20px auto 0;
		display: block;
		-webkit-box-shadow: 0 0 4px #000;
		box-shadow: 0 0 4px #000;
		position: absolute;
		left: 55%;
		top: 30%;
		opacity: 0.6;
		transition: opacity .3s ease-in-out;
		-webkit-animation: video-thumbnail .8s linear .5s;
		-moz-animation: video-thumbnail .8s linear .5s;
		-ms-animation: video-thumbnail .8s linear .5s;
		-o-animation: video-thumbnail .8s linear .5s;
		animation: video-thumbnail .8s linear .5s;

		&:hover {
			background-position: 0px -154px;
			opacity: 1;
		}
	}
	
	& .version-wrapper {
		margin: 0;
		padding: 0;
	}
	
	& .version {
		padding: 4px 10px;
		border: 2px solid #666;
		background: #fff;
		font-weight: bold;
		display: inline-block;
		margin: 20px 0 0;
		color: #555;
	}
	
	& .hero-text {
		padding: 40px 10px 10px;
		text-align: center;
		position: relative;
		-webkit-animation: intro-text .8s linear;
		-moz-animation: intro-text .8s linear;
		-ms-animation: intro-text .8s linear;
		-o-animation: intro-text .8s linear;
		animation: intro-text .8s linear;
		margin-top: 382px;
		position: relative;
		
		& h2 {
			font-size: 34px;
			font-size: 3.4rem;
		}
		
		& p {
			position: absolute;
			top: -40px;
			margin-left: -117px;
			left: 50%;
		}
	}
	
	& .hero-inside img {
		position: absolute;
		top: 470px;
		right: 85px;
		z-index: 6;
	}
}

.hero-container {
	width: 100%;
	height: 100%;
	background: url(images/hero-bg.png) transparent no-repeat 50% 0px;
}

#video-container {
	position: absolute;
	top: 0;
	left: 0;
}

#video-complete {
	background: #000;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 600px;
}

#video-complete-inner {
	position: relative;
	margin: 0 auto;
	width: 120px;
	padding: 120px 0;
}

#video-complete #video-complete-inner .replay-button,
#video-complete #video-complete-inner .close-button {
	color: #fff;
	cursor: pointer;
	display: inline-block;
	transition: none;
}

#video-complete #video-complete-inner .replay-button {
	margin-right: 25px;
}

#video-complete #video-complete-inner .replay-button:hover,
#video-complete #video-complete-inner .close-button:hover {
	color: #c73425;
}

#video-complete #video-complete-inner .replay-button span {
	display: block;
	background: url(images/icon-replay.png) no-repeat;
	width: 41px;
	height: 46px;
	margin-bottom: 10px;
}

#video-complete #video-complete-inner .close-button span {
	display: block;
	background: url(images/icon-close.png) no-repeat;
	width: 46px;
	height: 46px;
	margin-bottom: 10px;
	margin-left: -6px;
}

#video-complete #video-complete-inner .replay-button:hover span {
	background-position: -41px 0;
}

#video-complete #video-complete-inner .close-button:hover span {
	background-position: -46px 0;
}

.download-button {
	line-height: 38px;
	font-size: 17px;
	padding: 2px 18px 3px;
	font-weight: 300;
	background-color: #3498db;
	color: #fff;
	margin-top: 15px;
	display: inline-block;
	text-align: center;
	position: relative;
	border-radius: 3px;
	-webkit-transition: background .2s linear;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3), inset 0 2px rgba(255,255,255,0.2);
	box-shadow: 0 1px 3px rgba(0,0,0,0.3), inset 0 2px rgba(255,255,255,0.2);
	background: -webkit-linear-gradient(top, #3498db 0%, #1a7fcc 100%);
	background: -moz-linear-gradient(top, #3498db 0%, #1a7fcc 100%);
	background: -o-linear-gradient(top, #3498db 0%, #1a7fcc 100%);
	background: -ms-linear-gradient(top, #3498db 0%, #1a7fcc 100%);
	background: linear-gradient(top, #3498db 0%, #1a7fcc 100%);
}

.download-button:hover {
	background: #50a4dc;
	background: -webkit-linear-gradient(top, #50a4dc 0%, #1a7fcc 100%);
	background: -moz-linear-gradient(top, #50a4dc 0%, #1a7fcc 100%);
	background: -o-linear-gradient(top, #50a4dc 0%, #1a7fcc 100%);
	background: -ms-linear-gradient(top, #50a4dc 0%, #1a7fcc 100%);
	background: linear-gradient(top, #50a4dc 0%, #1a7fcc 100%);
	color: #fff;
}

.featureset {
	padding: 100px 30px;
	position: relative;
	width: 100%;
	overflow: hidden;
}

.featureset.feature-newsletter {
	padding: 1px;
	box-shadow: 0px 30px 40px rgba(0,0,0,.1);
}

.feature-newsletter .feature {
	position: relative;
	padding: 100px 30px;
	text-align: center;
}

.feature-newsletter .feature:before {
    content: "";
    background-color: black;
    height: 1px;
    display: block;
    top: -100px;
    position: relative;
	background: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(255,255,255,1) 100%);
	background: -moz-linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(255,255,255,1) 100%);
}

.feature-newsletter .feature h2 {
	margin: 0;
	font-weight: 400;
}

.feature-newsletter .feature h3 {
	margin-top: 10px;
	font-weight: 300;
}

.feature-newsletter .feature form .names {
	padding-left: 180px;
	margin-bottom: 10px;
}

.feature-newsletter .feature form .names input {
	float: left;
}

.feature-newsletter .feature form input[type="text"],
.feature-newsletter .feature form input[type="email"] {
	margin: 0;
	vertical-align: top;
	border-radius: 3px;
	height: 30px;
	padding: 5px;
	text-indent: 5px;
	margin-bottom: 5px;
	-webkit-appearance: textfield;
	-webkit-backface-visibility: hidden;
	width: 252px;
	border: 1px solid #ccc;
	outline: none;
	margin-right: 10px;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.feature-newsletter .feature form input[type="text"]:focus,
.feature-newsletter .feature form input[type="email"]:focus {
	border: 1px solid #aaa;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.feature-newsletter .feature form input[type="email"] {
	width: 413px;
	margin-right: 10px;
	margin-left: -5px;
}

.feature-newsletter .feature form input[type="submit"] {
	background: #fff;
	position: relative;
	background: #fff;
	color: #232527;
	border-radius: 3px;
	display: inline-block;
	font-size: 14px;
	font-weight: normal;
	padding: 6px 12px;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	border: 1px solid #ccc;
}

.feature-newsletter .feature form input[type="submit"]:hover {
	background: #2794da;
	color: #fff;
	border: 1px solid #25597a;
}

.featureset.feature-extensions {
	background: #f2f1ef;
	background: -webkit-linear-gradient(#eee 0%, #fbfbfb 100%);
	background: -moz-linear-gradient(#eee 0%, #fbfbfb 100%);
	background: -o-linear-gradient(#eee 0%, #fbfbfb 100%);
	background: -ms-linear-gradient(#eee 0%, #fbfbfb 100%);
	background: linear-gradient(#eee 0%, #fbfbfb 100%);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
	color: #25314c;
}

.featureset.feature-support {
	background: #232527;
	color: #fff;
}

.featureset.feature-support i {
	float: right;
	font-size: 250px;
	position: relative;
	display: block;
	margin-right: 100px;
	margin-top: 100px;
}

.featureset.feature-overview {
	background-color: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
	background-image: -webkit-linear-gradient(top, #fff, #eee);
	background-image: -moz-linear-gradient(top, #fff, #eee);
	background-image: -o-linear-gradient(top, #fff, #eee);
	background-image: linear-gradient(to bottom, #fff, #eee);
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.42);
	box-shadow: 0px 0px 10px rgba(0,0,0,0.42);
	margin: 0;
	text-align: left;
	font-weight: normal;
	width: 100%;
}

.featureset.feature-extensions .feature-content,
.featureset.feature-support .feature-content {
	margin: 0;
	text-align: left;
	float: left;
	width: 350px;
	font-weight: normal;
}

.featureset.feature-support .feature-content {
	width: 530px;
}

.featureset.feature-overview .inner-feature {
	margin-bottom: 30px;
	border-bottom: 1px solid #eee;
	padding-bottom: 30px;
}

.featureset.feature-overview .inner-feature-right img {
	float: left;
	max-width: 450px;
}

.featureset.feature-overview .inner-feature-left img {
	float: right;
	max-width: 450px;
}

.featureset.feature-extensions .feature-content { float: right; }

.featureset.feature-overview h2,
.featureset.feature-ios h2 {
	text-align: center;
}

.featureset.feature-ios .iphone { margin-top: 10px; }

.cssanimations .iphone { opacity: 0; }

.iphone-animation {
	-webkit-animation-name: iphone-entrance;
	-moz-animation-name: iphone-entrance;
	-ms-animation-name: iphone-entrance;
	-o-animation-name: iphone-entrance;
	animation-name: iphone-entrance;
	
	-webkit-animation-duration: 1.2s;
	-moz-animation-duration: 1.2s;
	-ms-animation-duration: 1.2s;
	-o-animation-duration: 1.2s;
	animation-duration: 1.2s;
	
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-ms-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;

}

.featureset.feature-ios .left,
.featureset.feature-ios .right {
	float: left;
	width: 250px;
	margin-right: 60px;
	margin-top: 80px;
}

.featureset.feature-ios h4 { margin-top: 0; }

.featureset.feature-ios .left div,
.featureset.feature-ios .right div {
	padding: 10px;
	margin-bottom: 10px;
	-webkit-animation-name: ios-feature;
	-moz-animation-name: ios-feature;
	-ms-animation-name: ios-feature;
	-o-animation-name: ios-feature;
	animation-name: ios-feature;
	
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-ms-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	
	-webkit-animation-duration: 5s;
	-moz-animation-duration: 5s;
	-ms-animation-duration: 5s;
	-o-animation-duration: 5s;
	animation-duration: 5s;
}

.featureset.feature-ios .left .slide-1-text {
	-webkit-animation-delay: 3s;
	-moz-animation-delay: 3s;
	-ms-animation-delay: 3s;
	-o-animation-delay: 3s;
	animation-delay: 3s;
}

.featureset.feature-ios .left .slide-2-text {
	-webkit-animation-delay: 6s;
	-moz-animation-delay: 6s;
	-ms-animation-delay: 6s;
	-o-animation-delay: 6s;
	animation-delay: 6s;
}

.featureset.feature-ios .left .slide-3-text {
	-webkit-animation-delay: 9s;
	-moz-animation-delay: 9s;
	-ms-animation-delay: 9s;
	-o-animation-delay: 9s;
	animation-delay: 9s;
}

.featureset.feature-ios .right .slide-4-text {
	-webkit-animation-delay: 12s;
	-moz-animation-delay: 12s;
	-ms-animation-delay: 12s;
	-o-animation-delay: 12s;
	animation-delay: 12s;
}

.featureset.feature-ios .right .slide-5-text {
	-webkit-animation-delay: 15s;
	-moz-animation-delay: 15s;
	-ms-animation-delay: 15s;
	-o-animation-delay: 15s;
	animation-delay: 15s;
}

.featureset.feature-ios .right .slide-6-text {
	-webkit-animation-delay: 18s;
	-moz-animation-delay: 18s;
	-ms-animation-delay: 18s;
	-o-animation-delay: 18s;
	animation-delay: 18s;
}

.featureset.feature-ios .running {
	-webkit-animation-play-state: running;
	-moz-animation-play-state: running;
	-ms-animation-play-state: running;
	-o-animation-play-state: running;
	animation-play-state: running;
	
	-webkit-animation-name: ios-feature !important;
	-moz-animation-name: ios-feature !important;
	-ms-animation-name: ios-feature !important;
	-o-animation-name: ios-feature !important;
	animation-name: ios-feature !important;
}

.featureset.feature-ios .paused {
	-webkit-animation-play-state: paused;
	-moz-animation-play-state: paused;
	-ms-animation-play-state: paused;
	-o-animation-play-state: paused;
	animation-play-state: paused;
	
	-webkit-animation-name: none !important;
	-moz-animation-name: none !important;
	-ms-animation-name: none !important;
	-o-animation-name: none !important;
	animation-name: none !important;
}

.featureset.feature-ios .right {
	margin-left: 30px;
	margin-right: 0;
}

.featureset.feature-ios .iphone {
	float: left;
	background: url(images/iphone.png) no-repeat;
	width: 320px;
	height: 674px;
	position: relative;
	overflow: hidden;
}

.featureset.feature-ios .iphone img {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

.featureset.feature-ios .iphone .iphone-inside {
	top: 96px;
	left: 29px;
	position: absolute;
}

.featureset.feature-customers del {
	color: #9d1e1e;
}

.featureset.feature-customers .testimonial {
	float: left;
	width: 48%;
	margin-right: 2%;
	height: 280px;
}

.featureset.feature-customers .testimonial:nth-child(2n+2) {
	margin-right: 0;
	margin-left: 2%;
}

.featureset.feature-customers .testimonial blockquote {
	font-style: normal;
	font-size: 16px;
	background: url(images/icon-quote.png) no-repeat 0 15px;
	padding-left: 50px;
	border-left: none;
}

.nivoSlider {
	position: relative;
	width: auto;
	height: auto;
	overflow: hidden;
}
.nivoSlider img {
	position: absolute;
	top: 0px;
	left: 0px;
	max-width: none;
}

.nivo-main-image {
	display: block !important;
	position: relative !important;
	width: 100% !important;
}

.nivo-slice {
	display: block;
	position: absolute;
	z-index: 5;
	height: 100%;
	top: 0;
}

.feature {
	width: 940px;
	margin: 0 auto;
}

.feature h2 {
	line-height: 1.2;
	margin-bottom: 15px;
	font-weight: normal;
	letter-spacing: -0.05em;
}

.app-store-button {
	clear: both;
	display: block;
	padding-top: 25px;
}

.app-store-button p {
	text-align: center;
	margin: 0 0 10px;
}

.app-store-button a {
	display: inline-block;
	padding: 8px;
}

.app-store-button .price { margin: 0; }

.feature-extensions-left {
	float: left;
}

#hero-extensions {
	position: relative;
	height: 100px;
	margin-bottom: 90px;
	margin: 0;
	padding: 0;
	list-style: none;
}

#extensions-intro-box {
	background: #fff;
	padding: 40px;
	font-weight: 300;
}

#extensions-intro-box a {
	position: relative;
	background: #fff;
	color: #232527;
	margin-left: 8px;
	border-radius: 3px;
	display: inline-block;
	font-size: 14px;
	font-weight: normal;
	position: relative;
	top: -5px;
	padding: 4px 9px;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	border: 1px solid #ccc;
	letter-spacing: 0;
}

#extensions-intro-box a:hover {
	background: #2794da;
	color: #fff;
	border: 1px solid #25597a;
}

#extensions-intro-box h2 { margin-top: 8px; }

.extensions h1 {
	float: left;
}

.extensions form {
	float: right;
}

.extensions-grid {
	margin: 0;
	padding: 0;
}

.extensions-grid ul {
	list-style: none;
	margin: 10px 0 0 0;
	padding: 0;
}

.extensions-grid ul li {
	width: 33%;
	margin-right: 1%;
	float: left;
	margin-bottom: 1%;
}

.extensions-grid ul li:nth-child(3n+3) {
	width: 32%;
	margin-right: 0;
}

.extensions-grid ul li:nth-child(3n+3) a img {
	max-width: 281px;
}

.extensions-grid ul li a {
	display: block;
	background: #fff;
	padding: 20px;
	font-size: 18px;
	font-weight: 300;
	-webkit-transition: all .2s linear;
}

.extensions-grid ul li .preview-image {
	height: 194px;
}

.extensions-grid ul li a img {
	margin-left: -10px;
	margin-top: -10px;
	max-width: 290px;
	border: 1px solid #c8c8c8;
	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.extensions-grid ul li a .price,
.extensions-grid ul li a p {
	font-size: 14px;
	display: block;
	margin: 8px 0;
	color: #888;
}

.extensions-grid ul li a p {
	margin-top: 20px;
	margin-bottom: 0;
	padding-bottom: 0;
	font-size: 16px;
}

.extensions-grid ul li a:hover {
	background: #f9f9f9;
	color: #111;
	box-shadow: 0 0 2px #ccc;
}

.inner-feature-left {
	& .inside {
		float: left;
		width: 450px;
	}
}

.inner-feature-right {
	& .inside {
		float: right;
		width: 450px;
	}
}

.main .content {
	width: 940px;
	margin: 25px auto;
	background: #fff;
	padding: 20px;
}

.main {
	background: #eee;
	padding: 20px 0 0;
}

.main .content h1 { margin: 0; }