// IE10 Metro responsive
// Required for Windows 8 Metro split-screen snapping with IE10
// Source: http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@-ms-viewport {
	width: device-width;
}

/* ----------------------------- *
 * iPad (Landscape)
 * ----------------------------- */

@media (max-width: 1024px) {
	.hero .hero-inside img {
		top: 475px;
		right: 20px;
		width: 198px;
	}

	footer .container img {
		right: -25px;
	}
}

/* ----------------------------- *
 * Old 940px layout
 * ----------------------------- */

@media (min-width: 980px) and (max-width: 1120px) {
	.header-outer {
		.header {
			position: relative;
			margin: 0 auto;
			width: 940px;
			
			#logo {
				float: left;
			}
		}
	}
	
	.main .container {
		width: 940px;
		margin: 20px auto;
	}

	.main .content {
		width: 940px;
		margin: 25px auto;
		background: #fff;
		padding: 20px;
	}

	.blog .main .content,
	.single-theme .main .content,
	.single-extension .main .content,
	.documentation .main .content {
		width: 620px;
	}

	.single-extension .main .sidebar {
		width: 260px;
		padding: 30px;
	}

	.bbpress .main .content {
		box-shadow: none;
		border: none;
		width: 680px;
		margin: 25px 0;
		float: left;
		background: #fff;
		padding: 20px;
	}

	.blog .main .content .hentry {
		background: #fff;
		padding: 30px;
		margin-bottom: 30px;
	}

	.bbpress.full-width .main .content,
	.full-width .main .content {
		width: 940px;
	}

	footer .container {
		width: 940px;
	}

	footer .container .col {
		width: 283px;
	}

	.feature {
		width: 100%;
	}

	.extensions-container,
	.themes-container {
		width: 940px;
	}

	.extension,
	.theme {
		width: 300px;
		margin-right: 20px;
	}

	.extension .thumbnail-holder,
	.theme .thumbnail-holder {
		max-width: 280px;
	}

	.single-theme .sidebar {
		width: 230px;
	}

	.single-theme .secondary .container {
		width: 940px;
	}

	footer .container img {
		right: -35px;
	}

	.page-id-635 footer .container img {
		display: none;
	}

	.showcase {
		width: 940px;

		& .site {
			width: 300px;

			& img {
				width: 280px;
				height: auto;
			}

			& .text-overlay {
				width: 300px;
				height: 204px;
			}
		}

		& .featured-site {
			background: #fff;
			float: left;
			padding: 10px;
			position: relative;
			width: 460px;
			margin-right: 20px;
			margin-bottom: 20px;

			&:nth-child(2n+2) {
				margin-right: 0;
			}

			& img {
				width: 440px;
				height: 325px;
			}

			& .text-overlay {
				background: rgba(34,36,38,0.9);
				width: 460px;
				height: 353px;
			}

		}
	}

	.documentation .sidebar, .doc-search-sidebar {
		width: 240px;
	}

	.documentation .main .content {
		width: 680px;
	}

	#edd_checkout_form_wrap span.card-type {
		right: 432px;
	}
	
	#mods-grid .mod .mod-name {
		display: block;
		font-size: 14px;
	}
	
	#mods-grid .mod .mod-ticket-count {
		margin-top: 10px;
	}
}

/* ----------------------------- *
 * Tablets to regular desktops
 * ----------------------------- */

@media (min-width: 941px) and (max-width: 979px) {
	
	.main .container {
		width: 100%;
		margin: 20px auto;
	}
	
	.main .content {
		width: 100%;
	}

	.blog .main .content,
	.single-theme .main .content,
	.single-extension .main .content,
	.documentation .main .content {
		width: 620px;
	}

	.single-extension .main .sidebar {
		width: 260px;
		padding: 30px;
	}
	
	.header-outer {
		padding: 20px 0;
	}

	.header-outer .header {
		width: 100%;
	}

	.hero .hero-inside {
		width: 100%;
	}

	.header-outer .header #logo {
		margin-left: 20px;
	}

	.hero h1 {
		width: 667px;
		margin: 0 auto;
		font-size: 32px;
		font-size: 3.2rem;
	}

	.hero .hero-text h2 {
		font-size: 32px;
		font-size: 3.2rem;
	}

	.hero .hero-inside img {
		right: 10px;
	}

	#primary {
		margin-right: 20px;
	}

	.feature {
		width: 100%;
	}

	.extensions-grid ul li a img {
		max-width: 284px;
	}

	.extensions-grid ul li:nth-child(3n+3) a img {
		max-width: 273px;
	}

	footer .container img {
		right: -15px;
	}

	footer .container {
		width: 940px;
	}

	footer .container .col {
		width: 283px;
	}

	.home .featureset.feature-extensions .extensions-grid ul li a img {
		max-width: 100%;
	}

	.featureset.feature-support i {
		margin-top: 180px;
		margin-right: 30px;
	}

	.feature-newsletter .feature form .names {
		padding-left: 190px;
	}

	.extensions-container,
	.themes-container {
		width: 940px;
	}

	.page-id-635 footer .container img {
		display: none;
	}

	.showcase {
		width: 940px;

		& .site {
			width: 300px;

			& img {
				width: 280px;
				height: auto;
			}

			& .text-overlay {
				width: 300px;
				height: 204px;
			}
		}

		& .featured-site {
			background: #fff;
			float: left;
			padding: 10px;
			position: relative;
			width: 460px;
			margin-right: 20px;
			margin-bottom: 20px;

			&:nth-child(2n+2) {
				margin-right: 0;
			}

			& img {
				width: 440px;
				height: 325px;
			}

			& .text-overlay {
				background: rgba(34,36,38,0.9);
				width: 460px;
				height: 353px;
			}

		}
	}

	.documentation .sidebar, .doc-search-sidebar {
		width: 240px;
	}

	.documentation .main .content {
		width: 680px;
	}

	#edd_checkout_form_wrap span.card-type {
		right: 281px;
	}
	
	#mods-grid .mod .mod-name {
		display: block;
		font-size: 14px;
		text-align: left;
	}
}

/* ----------------------------- *
 * Phones to portrait tablets and narrow desktops
 * ----------------------------- */

@media (max-width: 940px) {
	.header-outer {
		padding: 20px 0;
	}

	.header-outer .header {
		width: 100%;
	}

	.header-outer .header #logo {
		float: none;
		margin: 0 auto;

		& a {
			display: block;
			padding-left: 20px;
			margin: 0;
			width: 250px;

			& img {
				max-width: 250px;
			}
		}
	}

	.header i {
		display: block;
		position: absolute;
		top: 10px;
		right: 10px;
		cursor: pointer;
		font-size: 20px;
		color: #fff;
	}

	#primary {
		float: none;
		height: auto;
		overflow: hidden;
		display: none;

		& ul li {
			float: none;
		}
	}

	html.cssanimations.csstransitions #primary ul ul,
	#primary ul ul {
		opacity: 1;
		top: 100%;
		visibility: visible;
		display: block;
		background: transparent;
		border: none;
		box-shadow: none;
		width: 100%;
		position: relative;
	}

	#primary ul ul:before {
		display: none;
	}

	#primary ul a {
		height: auto;
	}

	#primary ul ul li a {
		color: #999;

		&:hover {
			color: #fff !important;
		}
	}

	.menu-download {
		display: none;
	}

	.hero {
		background-size: contain;
		width: 100%;
		max-width: 100%;
		height: auto;
		padding-bottom: 25px;
	}

	.hero .hero-inside {
		width: 100%;
	}

	.hero .hero-text {
		padding: 0;
		margin-top: 480px;
	}

	.hero .hero-inside img {
		right: -5px;
	}

	.hero .hero-text h1,
	.hero .hero-text h2 {
		font-size: 2.4rem;
		width: 590px;
		margin: 0 auto;
	}

	.hero .hero-text p {
		top: -78px;
	}

	.featureset.feature-overview .inner-feature-left img,
	.featureset.feature-overview .inner-feature-right img {
		max-width: 380px;
	}

	.feature,
	.featureset.feature-support .feature-content {
		width: 100%;
	}

	.featureset.feature-support i {
		display: none;
	}

	.featureset.feature-customers .testimonial,
	.featureset.feature-customers .testimonial:nth-child(2n+2) {
		width: 100%;
		float: none;
		height: auto;
		margin: 0 auto;
	}

	.feature-newsletter .feature form {
		margin-top: 20px;
	}

	.feature-newsletter .feature form .names {
		padding: 0;
		margin: 0;
	}

	.feature-newsletter .feature form input[type="text"], .feature-newsletter .feature form input[type="email"] {
		width: 100%;
		-webkit-appearance: none;
	}

	.feature-newsletter .feature form input[type="email"] {
		width: 100%;
		margin: 0 0 20px;
	}

	footer .container {
		width: 100%;
	}

	footer .container img {
		display: none;
	}

	footer .container .columns {
		padding: 0 20px 20px 20px;
	}

	.main .content {
		width: 100%;
		margin: 0 auto 15px;
	}

	.showcase {
		width: 100%;
	}

	.showcase .featured-site,
	.showcase .site {
		width: 100%;
		float: none;
	}

	.showcase .featured-site .text-overlay,
	.showcase .site .text-overlay {
		width: 100%;
		height: 100%;
	}

	.showcase .site img {
		max-width: 320px;
		height: auto;
		margin: 0 auto;
		text-align: center;
		display: block;
	}

	.showcase .gform_wrapper {
		max-width: 100%;
		padding: 0 20px;
		width: 100%;
	}

	.showcase .the-content p {
		padding: 0 20px;
	}

	.gform_wrapper .top_label input.medium,
	.gform_wrapper .top_label select.medium {
		width: 98% !important;
	}

	.extension, .theme {
		float: none;
		margin: 0 auto 40px !important;
	}

	.main .container {
		width: 100%;
	}

	.single-extension .main .content {
		width: 100%;
	}

	.single-extension .main .sidebar,
	.blog .sidebar, .single-theme .sidebar {
		width: 100%;
		margin-left: 0;
	}

	.blog .sidebar, .single-theme .sidebar {
		margin-top: 25px;
	}

	.blog .main .content, .single-theme .main .content {
		width: 100%;
	}

	.bbpress .main .content {
		width: 100%;
	}

	.bbpress .sidebar {
		width: 100%;
		margin-left: 0;
	}

	#bbpress-forums div.bbp-search-form #bbp_search {
		width: 98%;
		margin-bottom: 10px;
	}

	#bbpress-forums div.bbp-reply-content {
		margin-left: 105px;
	}

	#bbpress-forums div.bbp-breadcrumb p {
		float: none;
		width: 100%;
	}

	.documentation .sidebar {
		float: left;
		width: 100%;
		margin-right: 0;
		margin-bottom: 30px;
	}

	.documentation .main .content {
		width: 100%;
	}

	.headline h1,
	.pricing-container {
		width: 100%;
		padding: 0 20px;
	}

	.pricing-container .support-box {
		margin-bottom: 60px;
	}

	#support-people {
		display: none;
	}

	footer .container img {
		right: -25px;
	}

	#edd_checkout_form_wrap span.card-type {
		display: none;
	}
	
	#mods-grid .mod {
		width: 46%;
	}
	
	#mods-grid .mod .mod-name,
	#mods-grid .mod .mod-gravatar,
	#mods-grid .mod .mod-ticket-count {
		display: inline;
		vertical-align: -webkit-baseline-middle;
	}
}

/* ----------------------------- *
 * iPad (Portrait)
 * ----------------------------- */

@media (max-width: 768px) {
	.hero .hero-text {
		margin-top: 400px;
	}

	.hero .hero-text p {
		top: -72px;
	}

	.hero .hero-inside img {
		top: 505px;
		width: 164px;
	}

	footer .container img {
		right: -25px;
	}

	footer .container .col {
		width: 100%;
	}
	
	#mods-grid .mod .mod-name,
	#mods-grid .mod .mod-ticket-count {
		display: block;
		text-align: left;
	}
	
	#mods-grid .mod .mod-gravatar {
		display: none;
	}
	
	#mods-grid .mod .mod-ticket-count {
		margin-top: 0;
	}
	
	#bbpress-forums .moderator-tools #bbps_support_forum_options form {
		margin-bottom: 4px;
	}
}

/* ----------------------------- *
 * iPhone (Landscape)
 * ----------------------------- */

@media (max-width: 480px) {
	#loginform,
	#passwordreset {
		width: 100%;
	}

	.bbp-reply-permalink {
		display: none;
	}

	.header-outer {
		padding: 20px 0;
	}

	.header-outer .header {
		width: 100%;
	}

	.header-outer .header #logo {
		float: none;
		margin: 0 auto;

		& a {
			display: block;
			padding-left: 20px;
			margin: 0;
			width: 250px;

			& img {
				max-width: 250px;
			}
		}
	}

	.header i {
		display: block;
		position: absolute;
		top: 10px;
		right: 10px;
		cursor: pointer;
		font-size: 20px;
		color: #fff;
	}

	#primary {
		float: none;
		height: auto;
		overflow: hidden;
		display: none;

		& ul li {
			float: none;
		}
	}

	html.cssanimations.csstransitions #primary ul ul,
	#primary ul ul {
		opacity: 1;
		top: 100%;
		visibility: visible;
		display: block;
		background: transparent;
		border: none;
		box-shadow: none;
		width: 100%;
		position: relative;
	}

	#primary ul ul:before {
		display: none;
	}

	#primary ul a {
		height: auto;
	}

	#primary ul ul li a {
		color: #999;

		&:hover {
			color: #fff !important;
		}
	}

	.menu-download {
		display: none;
	}

	.hero {
		background-size: contain;
		width: 100%;
		max-width: 100%;
		height: auto;
	}

	.hero .hero-inside {
		width: 100%;
	}

	.hero .hero-text {
		padding: 0;
		margin-top: 200px;
	}

	.download-button {
		display: none;
	}

	.demo-button {
		display: block;
	}

	.hero .hero-text h1,
	.hero .hero-text h2 {
		font-size: 2.4rem;
		width: 100%;
	}

	.hero .hero-text p {
		top: -88px;
		margin-left: -55px;
	}

	.hero .hero-inside img {
		display: none;
	}

	.feature,
	.featureset.feature-support .feature-content {
		width: 100%;
	}

	.featureset.feature-overview .inner-feature-right img,
	.featureset.feature-overview .inner-feature-left img {
		display: none;
	}

	.featureset.feature-overview .inside {
		float: none;
		width: 100%;
	}

	.featureset.feature-ios .left, .featureset.feature-ios .right {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}

	.featureset.feature-ios .left div,
	.featureset.feature-ios .right div {
		-webkit-animation-name: none;
		-moz-animation-name: none;
		-ms-animation-name: none;
		-o-animation-name: none;
		animation-name: none;
	}

	#extensions-intro-box {
		margin-bottom: 30px;
	}

	#extensions-intro-box a {
		margin-left: 0;
	}

	.extensions-offer {
		margin-bottom: 0;
	}

	.pagination {
		padding-left: 20px;
	}

	.extensions-grid ul li,
	.extensions-grid ul li:nth-child(3n+3) {
		width: 100%;
		float: none;
		margin-bottom: 30px;
	}

	.extensions-grid ul li a img {
		margin-left: 3px;
		margin-top: 3px;
		max-width: 97% !important;
	}

	.featureset.feature-support i {
		display: none;
	}

	.featureset.feature-customers .testimonial,
	.featureset.feature-customers .testimonial:nth-child(2n+2) {
		width: 100%;
		float: none;
		height: auto;
		margin: 0 auto;
	}

	.feature-newsletter .feature form {
		margin-top: 20px;
	}

	.feature-newsletter .feature form .names {
		padding: 0;
		margin: 0;
	}

	.feature-newsletter .feature form input[type="text"], .feature-newsletter .feature form input[type="email"] {
		width: 100%;
		-webkit-appearance: none;
	}

	.feature-newsletter .feature form input[type="email"] {
		width: 100%;
		margin: 0 0 20px;
	}

	.feature-left img {
		float: none;
	}

	.feature-75247 img,
	.feature-75248 img,
	.feature-75250 img,
	.feature-75254 img {
		display: block;
		margin: 2% auto 0;
	}

	footer .container {
		width: 100%;
	}

	footer .container img {
		display: none;
	}

	footer .container .columns {
		padding: 0 20px 20px 20px;
	}

	.main .content {
		width: 100%;
		margin: 0 auto 15px;
	}

	.showcase {
		width: 100%;
	}

	.showcase .featured-site,
	.showcase .site {
		width: 100%;
		float: none;
	}

	.showcase .featured-site .text-overlay,
	.showcase .site .text-overlay {
		width: 100%;
		height: 100%;
	}

	.showcase .site img {
		max-width: 320px;
		height: auto;
		margin: 0 auto;
		text-align: center;
		display: block;
	}

	.showcase .gform_wrapper {
		max-width: 100%;
		padding: 0 20px;
		width: 100%;
	}

	.showcase .the-content p {
		padding: 0 20px;
	}

	.gform_wrapper .top_label input.medium,
	.gform_wrapper .top_label select.medium {
		width: 98% !important;
	}

	.extension, .theme {
		float: none;
		margin: 0 auto 40px !important;
	}

	.main .container {
		width: 100%;
	}

	.single-extension .main .content {
		width: 100%;
	}

	.single-extension .main .sidebar,
	.blog .sidebar, .single-theme .sidebar {
		width: 100%;
		margin-left: 0;
	}

	.blog .sidebar, .single-theme .sidebar {
		margin-top: 25px;
	}

	.blog .main .content, .single-theme .main .content {
		width: 100%;
	}

	.bbpress .main .content {
		width: 100%;
	}

	.bbpress .sidebar {
		width: 100%;
		margin-left: 0;
	}

	#bbpress-forums div.bbp-search-form #bbp_search {
		width: 98%;
		margin-bottom: 10px;
	}

	#bbpress-forums div.bbp-reply-content {
		margin-left: 105px;
	}

	#bbpress-forums div.bbp-breadcrumb p {
		float: none;
		width: 100%;
	}

	.documentation .sidebar {
		float: left;
		width: 100%;
		margin-right: 0;
		margin-bottom: 30px;
	}

	.documentation .main .content {
		width: 100%;
	}

	.headline h1,
	.pricing-container {
		width: 100%;
		padding: 0 20px;
	}

	.pricing-container .support-box {
		margin-bottom: 60px;
	}

	#support-people {
		display: none;
	}

	footer .container .col {
		width: 100%;
	}

	.feature-area .feature-text {
		width: 100%;
		padding: 0 20px;
	}

	.feature-area .feature-text .feature-text-inner {
		width: 100%;
		float: none;
	}

	.feature-area .feature-text p {
		margin-bottom: 25px;
	}

	.feature-68023 img, .feature-68026 img, .feature-68024 img {
		display: none;
	}

	.feature-68025 img {
		margin-left: 0;
	}

	#feature-edd {
		display: none;
	}

	.featureset.feature-overview,
	.featureset.feature-extensions {
		padding: 30px 30px;
	}

	.extensions-container, .themes-container {
		width: 100%;
	}

	.page-id-13 h1 {
		float: none;
	}

	#extensions_searchform {
		display: block;
		float: none;
		-webkit-appearance: none;
	}

	.filter {
		margin-top: 10px;
	}

	.feature-68030 img {
		margin-left: -182px;
	}

	.tab-content {
		border: none;
		border-radius: 0;
		position: relative;
		padding: 20px;
	}

	.nav-tabs>li, .nav-pills>li {
		float: none;
		display: block;
		margin-bottom: 0 !important;
	}

	.nav-tabs>li>a {
		border: none;
		border-radius: 0;
	}

	.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
		border: none !important;
	}

	.tab-pane.purchases-tab-pane {
		margin-top: -20px;
		margin-left: -20px;
		margin-bottom: -20px;
		margin-right: -20px;
	}

	#edd_profile_editor_form fieldset label {
		margin-bottom: 0;
	}

	#edd_profile_editor_form fieldset input[type="text"], #edd_profile_editor_form fieldset input[type="email"], #edd_profile_editor_form fieldset input[type="password"] {
		margin-bottom: 30px;
	}

	#edd_profile_editor_form p#edd_profile_display_name_wrap {
		margin-bottom: 30px;
	}

	#edd_checkout_form_wrap input.edd-input {
		width: 100% !important;
	}

	#edd_secure_site_wrapper, #ssl-seal {
		display: none;
	}

	#bbpress-forums li.bbp-body div.bbp-reply-content {
		clear: none !important;
		margin-left: 0 !important;
		width: 100% !important;
		padding: 12px 12px 12px 0 !important;
		margin-bottom: 20px;
	}

	#bbpress-forums ul.bbp-action-links-dropdown {
		left: 189px;
	}

	.bbp-user-page {
		.bbpress .main h1 {
			text-align: center;
		}

		#bbpress-forums #bbp-single-user-details {
			width: 100%;
			float: none;
		}

		#bbpress-forums #bbp-single-user-details #bbp-user-avatar {
			width: 100%;
		}

		#bbp-user-avatar .vcard {
			display: block;
			width: 150px;
			height: 150px;
			margin: 0 auto;
			float: none;
		}

		#bbpress-forums #bbp-single-user-details #bbp-user-navigation {
			margin-top: 20px;
			margin-bottom: 20px;
		}

		#bbpress-forums #bbp-single-user-details #bbp-user-navigation a {
			text-align: center;
		}

		.bbp-user-profile,
		.edd_users_purchases,
		.rcp_support_status {
			border: 1px solid #eee;
			margin-bottom: 25px;
			padding: 20px;
		}

		.bbp-user-profile p {
			margin: 0 0 15px;
		}

		.bbp-user-profile p:last-child {
			margin-bottom: 0;
		}

		.edd_users_purchases h4,
		.rcp_support_status h4 {
			margin-top: 0;
		}
	}
	
	#mods-grid .mod {
		margin: 1% 0;
		width: 100%;
	}
	
	#bbpress-forums .moderator-tools #bbps_support_forum_options form {
		float: none;
		margin-bottom: 12px;
	}
	
	#bbpress-forums .moderator-tools select#bbps_support_options,
	#bbpress-forums .moderator-tools #bbps_support_forum_options input[type="submit"] {
		display: block;
		width: 100%;
	}
	
	#bbpress-forums .moderator-tools select#bbps_support_options {
		margin-bottom: 4px;
	}
}

/* ----------------------------- *
 * iPad (Portrait)
 * ----------------------------- */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

}