.blog .main .content .entry-date { margin: 0; padding: 0; }

.blog .main .content .entry-date span {
	background: #eee;
	padding: 5px 8px 5px 28px;
	font-size: 13px;
	font-size: 1.3rem;
	margin-left: -30px;
}

.blog .main .content h1 {
	padding: 36px 0;
	margin: 0;
}

.blog .sidebar,
.single-theme .sidebar {
	float: left;
	margin-left: 20px;
	width: 240px;
}

.blog .post-meta {
	padding-top: 10px;
	border-top: 1px solid #eee;

	& ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
	& li {
		margin-bottom: 5px;
		font-size: 13px;
		
		& i {
			margin-right: 5px;
			width: 16px;
			display: inline-block;
		}
	}
}


#page-nav {
	.paged, .page-numbers {
		margin: 20px 0;
		padding: 0;
		list-style: none;
		
		& li {
			display: inline;
			&.previous {
				float: left;
			}
			
			&.next {
				float: right;
				
				& i {
					margin-right: 0;
					margin-left: 5px;
				}
			}
			
			& a {
				display: inline-block;
				float: left;
				padding: 3px 12px;
				background: #fff;
				
				& i {
					font-size: 12px;
					margin-right: 5px;
				}
			}
		}
	}

	.page-numbers {
		a {
			margin-right: 8px;
			border: 1px solid #fff;
		}

		.current {
			border: 1px solid #555;
			display: inline-block;
			float: left;
			padding: 3px 12px;
			background: #fff;
			margin-right: 8px;
		}
	}
}

.type-post h2 a {
	color: #232527;
}

div.sharedaddy .sd-content {
	width: 100% !important;
	float: none !important;
	margin: 0 !important;
}